/*<meta />*/

@namespace MadCap url(http://www.madcapsoftware.com/Schemas/MadCap.xsd);


/* Version 4.0.2 */

@font-face 
{
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: normal;
	src: url('./fonts/opensans-regular.eot');
}

/* EOT file for IE */

@font-face 
{
	font-family: 'Open Sans Regular';
	font-style: normal;
	font-weight: normal;
	src: url('./fonts/opensans-regular.eot');
}

/* EOT file for IE */

@font-face 
{
	font-family: 'Open Sans Light';
	font-style: normal;
	font-weight: normal;
	src: url('./fonts/opensans-light.eot');
}

/* EOT file for IE */

@font-face 
{
	font-family: 'Open Sans Semibold';
	font-style: normal;
	font-weight: normal;
	src: url('./fonts/opensans-semibold.eot');
}

/* EOT file for IE */

@font-face 
{
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: normal;
	src: url('./fonts/opensans-regular.ttf') format('truetype');
}

@font-face 
{
	font-family: 'Open Sans Regular';
	font-style: normal;
	font-weight: normal;
	src: url('./fonts/opensans-regular.ttf') format('truetype');
}

@font-face 
{
	font-family: 'Open Sans Light';
	font-style: normal;
	font-weight: normal;
	src: url('./fonts/opensans-light.ttf') format('truetype');
}

@font-face 
{
	font-family: 'Open Sans Semibold';
	font-style: normal;
	font-weight: normal;
	src: url('./fonts/opensans-semibold.ttf') format('truetype');
}

b,
i,
u
{
	mc-disabled: true;
}

html
{
	font-size: 16px;
	margin-right: 3px;
}

body
{
	font-family: 'Open Sans', Arial, Verdana, 'sans-serif';
	font-size: 16px;
	line-height: normal;
	margin: 0 75px 50px 50px;
	mc-hyphenate: never;
	mc-short-line: 0;
	mc-short-line-loosen-end-length: 0;
	mc-short-line-loosen-maximum: 0;
	mc-short-line-step: 0;
}

/*Generic*/

.beta
{
	position: relative;
}

.beta:before
{
	border: solid 1px #000000;
	content: 'E';
	display: inline-block;
	font-size: 30px;
	line-height: normal;
}

.beta:hover:after
{
	background: #ffffff;
	border: solid 1px #767676;
	box-shadow: 5px 5px 1px -3px rgba(0, 0, 0, 0.4);
	content: "Beta";
	font-size: 13px;
	left: 0;
	line-height: 1;
	margin: 0;
	padding: 3px 5px;
	position: absolute;
	top: 0;
}

[data-mc-target-type^=WebHelp2] .beta:before
{
	background: transparent url('../_TopNav/Images/Content/ic_beta-badge.svg') no-repeat;
	background: transparent url('../_TopNav/Images/Content/ic_beta-badge.svg') no-repeat;
	background-size: 34px 30px;
	border: none;
	content: '';
	display: inline-block;
	height: 30px;
	margin-right: .25em;
	width: 40px;
}

.new-item {
	position: relative;
}

.new-item:after {
	content: ' NEW';
	display: inline-block;
	color: green;
	font-size: 16px;
}

span.preview:after {
	color: #666666;
    font-size: 16px;
    content: '(Preview)';
    display: inline-block;
    margin-left: 8px;
    vertical-align: text-bottom;
}

.enterprise
{
	position: relative;
}

.enterprise:before
{
	border: solid 1px #000000;
	content: 'E';
	display: inline-block;
	font-size: 30px;
	line-height: normal;
}

.enterprise:hover:after
{
	background: #ffffff;
	border: solid 1px #767676;
	box-shadow: 5px 5px 1px -3px rgba(0, 0, 0, 0.4);
	content: "Enterprise only";
	font-size: 13px;
	left: 0;
	line-height: 1;
	margin: 0;
	padding: 3px 5px;
	position: absolute;
	top: 0;
}

[data-mc-target-type^=WebHelp2] .enterprise:before
{
	background: transparent url('../_TopNav/Images/Content/ic_enterprise_diamond.png') no-repeat;
	background: transparent url('../_TopNav/Images/Content/ic_enterprise_diamond.svg') no-repeat;
	background-size: 34px 30px;
	border: none;
	content: '';
	display: inline-block;
	height: 30px;
	margin-right: .25em;
	width: 40px;
}

/*Links*/

a
{
	color: #047ad4;
	text-decoration: none;
}

a.downloadFile
{
	/* Placeholder */
}

a:link,
a.MiniTOC1:link
{
	color: #047ad4;
}

a:visited,
a.MiniTOC1:link:visited
{
	color: #822980;
}

a:hover,
a.MiniTOC1:link:hover
{
	text-decoration: underline;
}

.keepWithNext
{
	page-break-after: avoid;
}

a.MCBreadcrumbsLink
{
	color: #000000;
	text-decoration: none;
}

span.MCBreadcrumbsDivider
{
	padding: 0 4px;
}

MadCap|breadcrumbsProxy
{
	border-bottom-style: none;
	color: #000000;
	mc-breadcrumbs-prefix: ' ';
	mc-breadcrumbs-count: 10;
}

MadCap|dropDown
{
	/* border-bottom: solid 1px #dddddd; */
    padding: 10px 0;
	margin: 0;
	text-indent: -1.4rem;
	mc-closed-image: none;
	mc-open-image: none;
}

li > .dropDown {
    padding-top: 0px;
}

MadCap|dropDown.Configuration,
MadCap|dropDown.Details,
MadCap|dropDown.Procedure
{
	/* Intentionally left blank */
}

MadCap|dropDownHead
{
	margin-left: 1.4rem;
	mc-hidden: hidden;
	font-size: 16px;
	font-style: inherit;
	font-weight: normal;
	page-break-after: avoid;
}

MadCap|dropDownBody
{
	mc-hidden: hidden;
	margin-left: 1.4rem;
	text-indent: initial;
}

MadCap|dropDownHotspot
{
	mc-hidden: hidden;
	color: #000000;
	/* font-size: 87.5%; */
	font-weight: normal;
}

.MCDropDown_Closed a.MCDropDownHotSpot:hover, .MCDropDown_Open a.MCDropDownHotSpot:hover {
	color: #4d84b8;
	text-decoration: underline;
}

.dropDown .dropDown {
	margin-left: 0px!important;
	margin-top: 10px;
}

.Toggler .dropDown .dropDown {
	margin-left: 20px!important;
}

.dropDown.MCDropDown_Open > span > .MCDropDownHotSpot.dropDownHotspot.MCDropDownHotSpot_.MCHotSpotImage,
.dropDown.MCDropDown_Closed .MCDropDownHotSpot.dropDownHotspot.MCDropDownHotSpot_.MCHotSpotImage
{
	mc-hidden: hidden;
	padding: 0 22px;
	position: relative;
}

.dropDown.MCDropDown_Closed > span > .MCDropDownHotSpot.dropDownHotspot.MCDropDownHotSpot_.MCHotSpotImage:before
{
	mc-hidden: hidden;
	background: url('../_TopNav/Images/Content/ic_arrow.png');
	background-repeat: no-repeat;
	content: '';
	display: inline;
	background-position: center center;
	height: 16px;
	left: 0px;
	position: absolute;
	top: 3px;
	transform: rotateZ(0deg);
	transition: transform .25s ease-in-out;
	width: 16px;
}

.dropDown.MCDropDown_Open > span > .MCDropDownHotSpot.dropDownHotspot.MCDropDownHotSpot_.MCHotSpotImage:before
{
	mc-hidden: hidden;
	background: url('../_TopNav/Images/Content/ic_arrow.png');
	background-repeat: no-repeat;
	content: '';
	display: inline;
	height: 16px;
	left: 0px;
	position: absolute;
	top: 6px;
	transform: rotateZ(90deg);
	transition: transform .25s ease-in-out;
	width: 16px;
}

.dropDown.MCDropDown_Closed > span > .MCDropDownHotSpot.dropDownHotspot.MCDropDownHotSpot_.MCHotSpotImage:active:before,
.dropDown.MCDropDown_Open > span > .MCDropDownHotSpot.dropDownHotspot.MCDropDownHotSpot_.MCHotSpotImage:active:before
{
	mc-hidden: hidden;
	background-image: url('../_TopNav/Images/Content/ic_arrow.png');
}

.dropDown.MCDropDown_Closed > span > .MCDropDownHotSpot.dropDownHotspot.MCDropDownHotSpot_.MCHotSpotImage:hover:before,
.dropDown.MCDropDown_Open > span > .MCDropDownHotSpot.dropDownHotspot.MCDropDownHotSpot_.MCHotSpotImage:hover:before
{
	mc-hidden: hidden;
	background-image: url('../_TopNav/Images/Content/ic_arrow.png');
}

.dropDownConfiguration > span > .MCDropDownHotSpot.dropDownHotspot.MCDropDownHotSpot_.MCHotSpotImage:after,
.dropDownDetails > span > .MCDropDownHotSpot.dropDownHotspot.MCDropDownHotSpot_.MCHotSpotImage:after,
.dropDownProcedure > span > .MCDropDownHotSpot.dropDownHotspot.MCDropDownHotSpot_.MCHotSpotImage:after
{
	mc-hidden: hidden;
	background-repeat: no-repeat;
	content: '';
	display: inline;
	height: 22px;
	position: absolute;
	right: -7px;
	width: 22px;
}

.dropDownConfiguration > span > .MCDropDownHotSpot.dropDownHotspot.MCDropDownHotSpot_.MCHotSpotImage:after
{
	mc-hidden: hidden;
	background-image: url('../_TopNav/Images/Content/ic_settings.png');
}

.dropDownConfiguration > span > .MCDropDownHotSpot.dropDownHotspot.MCDropDownHotSpot_.MCHotSpotImage:active:after
{
	mc-hidden: hidden;
	background-image: url('../_TopNav/Images/Content/ic_settings_pressed.png');
}

.dropDownConfiguration > span > .MCDropDownHotSpot.dropDownHotspot.MCDropDownHotSpot_.MCHotSpotImage:hover:after
{
	mc-hidden: hidden;
	background-image: url('../_TopNav/Images/Content/ic_settings_hover.png');
}

.dropDownDetails > span > .MCDropDownHotSpot.dropDownHotspot.MCDropDownHotSpot_.MCHotSpotImage:after
{
	mc-hidden: hidden;
	background-image: url('../_TopNav/Images/Content/ic_details.svg');
}

.dropDownDetails > span > .MCDropDownHotSpot.dropDownHotspot.MCDropDownHotSpot_.MCHotSpotImage:active:after
{
	mc-hidden: hidden;
	background-image: url('../_TopNav/Images/Content/ic_details_pressed.svg');
}

.dropDownDetails > span > .MCDropDownHotSpot.dropDownHotspot.MCDropDownHotSpot_.MCHotSpotImage:hover:after
{
	mc-hidden: hidden;
	background-image: url('../_TopNav/Images/Content/ic_details_hover.svg');
}

.dropDownProcedure > span > .MCDropDownHotSpot.dropDownHotspot.MCDropDownHotSpot_.MCHotSpotImage:after
{
	mc-hidden: hidden;
	background-image: url('../_TopNav/Images/Content/ic_steps.png');
}

.dropDownProcedure > span > .MCDropDownHotSpot.dropDownHotspot.MCDropDownHotSpot_.MCHotSpotImage:active:after
{
	mc-hidden: hidden;
	background-image: url('../_TopNav/Images/Content/ic_steps_pressed.png');
}

.dropDownProcedure > span > .MCDropDownHotSpot.dropDownHotspot.MCDropDownHotSpot_.MCHotSpotImage:hover:after
{
	mc-hidden: hidden;
	background-image: url('../_TopNav/Images/Content/ic_steps_hover.png');
}

MadCap|footnote
{
	font-size: 10pt;
}

MadCap|miniTocProxy
{
	border: none;
	margin: inherit 0 0 0;
	padding-left: 0;
	padding-top: 0;
}

MadCap|tocProxy
{
	border-top-style: none;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
}

MadCap|xref
{
	color: #0000ff;
	font-style: normal;
	font-weight: normal;
	mc-format: '{paratext}';
	text-decoration: none;
}

MadCap|xref.MiniTOC
{
	color: #0000ff;
	font-style: normal;
	mc-format: '{paratext}';
}

MadCap|xref.ParaTextOnly
{
	mc-format: '{paratext}';
}

MadCap|relationshipsHeading
{
	font-size: 120%;
}

MadCap|relationshipsHeading.concept
{
	font-size: 120%;
}

MadCap|relationshipsHeading.reference
{
	font-size: 120%;
}

MadCap|relationshipsHeading.task
{
	font-size: 120%;
}

MadCap|relationshipsItem
{
	font-size: 100%;
	margin-left: 32px;
}

a
{
	color: #005DAC;
	font-style: normal;
}

caption
{
	font-size: 16px;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 0.25em;
	text-align: left;
}


p.FooterBody, p.FooterHeading {
	mc-hidden: hidden;
	mc-next-class: FooterBody;
}

/* Admonitions */


/* New div admonitions */

div.code, div.code-line-numbers
{
	background-repeat: no-repeat;
	padding: 16px 16px 16px 76px;
	background-color: #c2c2c2;
	background-image: url('../_TopNav/Images/Admons/ic_code.svg');
	background-position: 28px 17px;
	margin: 10pt 0;
	position: relative;
	color: white;
}

div.code > p, div.code > pre,  
div.code-line-numbers p,  div.code-line-numbers pre {
	font-family: "Courier New";
	margin-bottom: 6pt;
	margin-top: 0;
	white-space: pre-wrap;
}

div.example
{
	background-repeat: no-repeat;
	padding: 16px 16px 16px 76px;
	background-color: #f1ecf7;
	background-image: url('../_TopNav/Images/Admons/ic_example.svg');
	background-position: 28px 20px;
	color: #333333;
	margin: 10pt 0;
	position: relative;
}

div.note
{
	background-repeat: no-repeat;
	padding: 37px 16px 16px 76px;
	background-color: #eff9ff;
	background-image: url('../_TopNav/Images/Admons/ic_note.svg');
	background-position: 28px 20px;
	color: #333333;
	margin: 10pt 0;
	position: relative;
}

div.note:before {
    content: 'Note';
    position: absolute;
    top: 16px;
    font-weight: bold;
    left: 76px;
}

div.tip
{
	background-repeat: no-repeat;
	padding: 37px 16px 16px 76px;
	background-color: #e7ffec;
	background-image: url('../_TopNav/Images/Admons/ic_tip.svg');
	background-position: 28px 20px;
	margin: 10pt 0;
	position: relative;
	color: #333333;
}

div.tip:before {
    content: 'Tip';
    position: absolute;
    top: 16px;
    font-weight: bold;
    left: 76px;
}

div.warning, div.caution
{
	background-repeat: no-repeat;
	padding: 37px 16px 16px 76px;
	background-color: #ffdfe0;
	background-image: url(../_TopNav/Images/Admons/ic_caution.svg);
	background-position: 28px 20px;
	margin: 10pt 0;
	position: relative;
	color: #333333;
}

div.warning:before {
    content: 'Warning';
    position: absolute;
    top: 10px;
    font-weight: bold;
    left: 65px;
}

div.caution:before {
    content: 'Caution';
    position: absolute;
    top: 16px;
    font-weight: bold;
    left: 76px;
}

div.important
{
	background-repeat: no-repeat;
	padding: 37px 16px 16px 76px;
	background-color: #ffedd9;
	background-image: url('../_TopNav/Images/Admons/ic_important.svg');
	background-position: 28px 20px;
	color: #333333;
	margin: 10pt 0;
	position: relative;
}

div.important:before {
    content: 'Important';
    position: absolute;
    top: 16px;
    font-weight: bold;
    left: 76px;
}

div.code p,
div.code-line-numbers p,
div.example p, 
div.note p, 
div.caution p, 
div.warning p, 
div.tip p,
div.important p
{
	margin-bottom: 3px;
    margin-top: 3px;
}

div.code pre,
div.code-line-numbers pre,
div.example pre, 
div.note pre, 
div.caution pre, 
div.warning pre, 
div.tip pre,
div.important pre
{
	white-space: pre-wrap;
}

div.code,
div.code-line-numbers,
div.example, 
div.note, 
div.caution, 
div.warning, 
div.tip,
div.important,
div.code p,
div.code-line-numbers p,
div.example p, 
div.note p, 
div.caution p, 
div.warning p, 
div.tip p,
div.important p,
div.code li,
div.code-line-numbers li,
div.example li, 
div.note li, 
div.caution li, 
div.warning li, 
div.tip li,
div.important li,
div.code pre,
div.code-line-numbers pre,
div.example pre, 
div.note pre, 
div.caution pre, 
div.warning pre, 
div.tip pre,
div.important pre {
	overflow-wrap: break-word;
}

table div.example {
	background-color: white;
	background-image: url('../_TopNav/Images/Admons/ic_example.svg');
	background-position: 7px 14px;
	margin: 0 0 10pt 0;
	padding-top: 0pt;
	padding-bottom: 0pt;
	min-height: 54px;
	padding: 4px 4px 4px 46px;
}

table div.note {
	background-color: white;
	background-image: url('../_TopNav/Images/Admons/ic_note.svg')!important;
	background-position: 7px 14px;
	margin: 0 0 10pt 0;
	padding: 4px 4px 4px 46px;
	min-height: 54px;
}

table div.important {
	background-color: white;
	background-image: url('../_TopNav/Images/Admons/ic_important.svg')!important;
	background-position: 7px 14px;
	margin: 0 0 10pt 0;
	min-height: 54px;
	padding: 4px 4px 4px 46px;
}

table div.code, table div.code-line-numbers {
    background-image: url('../_TopNav/Images/Admons/ic_code.svg');
	background-position: 7px 11px;
	margin: 0 0 10pt 0;
    min-height: 54px;
    padding: 4px 4px 4px 46px;
}

table div.caution, table div.warning {
	background-color: white;
	background-image: url('../_TopNav/Images/Admons/ic_caution.svg')!important;
	background-position: 7px 14px;
	margin: 0 0 10pt 0;
	min-height: 54px;
	padding: 4px 4px 4px 46px;
}

table div.tip {
	background-color: white;
	background-image: url('../_TopNav/Images/Admons/ic_tip.svg')!important;
	background-position: 7px 14px;
	margin: 0 0 10pt 0;
	min-height: 54px;
	padding: 4px 4px 4px 46px;
}

table div.note:before, 
table div.tip:before, 
table div.warning:before, 
table div.caution:before,
table div.important:before {
	display: none;
}

table div.note span.tooltip-container, 
table div.tip span.tooltip-container, 
table div.warning span.tooltip-container, 
table div.caution span.tooltip-container,
table div.code span.tooltip-container,
table div.code-line-numbers span.tooltip-container,
table div.example span.tooltip-container,
table div.important span.tooltip-container {
	position: absolute;
	display: block;
	width: 30px;
	height: 30px;
	left: 8px;
	top: 8px;
}


div.code ol,
div.code-line-numbers ol,
div.example ol, 
div.note ol, 
div.caution ol, 
div.warning ol, 
div.tip ol,
div.important ol
{
	list-style-type: decimal;
}

div.code ol ol,
div.code-line-numbers ol ol,
div.example ol ol, 
div.note ol ol, 
div.caution ol ol, 
div.warning ol ol, 
div.tip ol ol,
div.important ol ol
{
	list-style-type: lower-alpha;
}

div.code ol ol ol,
div.code-line-numbers ol ol ol,
div.example ol ol ol, 
div.note ol ol ol, 
div.caution ol ol ol, 
div.warning ol ol ol, 
div.tip ol ol ol,
div.important ol ol ol
{
	list-style-type: lower-roman;
}

div.code ol ol ol ol,
div.code-line-numbers ol ol ol ol,
div.example ol ol ol ol, 
div.note ol ol ol ol, 
div.caution ol ol ol ol, 
div.warning ol ol ol ol, 
div.tip ol ol ol ol,
div.important ol ol ol ol
{
	list-style-type: decimal;
}


/* Legacy table admonitions */

.TableStyle-AdmonCaution > tbody > tr > td:first-child,
.TableStyle-AdmonCode > tbody > tr > td:first-child,
.TableStyle-AdmonExample > tbody > tr > td:first-child,
.TableStyle-AdmonNote > tbody > tr > td:first-child,
.TableStyle-AdmonTip > tbody > tr > td:first-child
{
	background-repeat: no-repeat;
	background-position: 16px 20px;
}

.TableStyle-AdmonCaution > tbody > tr > td:nth-child(2) *,
.TableStyle-AdmonExample > tbody > tr > td:nth-child(2) *,
.TableStyle-AdmonNote > tbody > tr > td:nth-child(2) *,
.TableStyle-AdmonTip > tbody > tr > td:nth-child(2) *
{
	color: #333333;
}

.TableStyle-AdmonCode > tbody > tr > td:nth-child(2) *
{
	color: white;
}

.TableStyle-AdmonCaution > tbody > tr > td:nth-child(2) MadCap|xref,
.TableStyle-AdmonCode > tbody > tr > td:nth-child(2) MadCap|xref,
.TableStyle-AdmonExample > tbody > tr > td:nth-child(2) MadCap|xref,
.TableStyle-AdmonNote > tbody > tr > td:nth-child(2) MadCap|xref,
.TableStyle-AdmonTip > tbody > tr > td:nth-child(2) MadCap|xref,
.TableStyle-AdmonCaution > tbody > tr > td:nth-child(2) a,
.TableStyle-AdmonCode > tbody > tr > td:nth-child(2) a,
.TableStyle-AdmonExample > tbody > tr > td:nth-child(2) a,
.TableStyle-AdmonNote > tbody > tr > td:nth-child(2) a,
.TableStyle-AdmonTip > tbody > tr > td:nth-child(2) a
{
	color: #0000ff;
}

.TableStyle-AdmonCaution > tbody > tr > td:nth-child(2) p,
.TableStyle-AdmonCode > tbody > tr > td:nth-child(2) p,
.TableStyle-AdmonExample > tbody > tr > td:nth-child(2) p,
.TableStyle-AdmonNote > tbody > tr > td:nth-child(2) p,
.TableStyle-AdmonTip > tbody > tr > td:nth-child(2) p
{
	margin-bottom: 3px;
	margin-top: 3px;
}

.TableStyle-AdmonCaution > tbody > tr > td:nth-child(2) pre,
.TableStyle-AdmonCode > tbody > tr > td:nth-child(2) pre,
.TableStyle-AdmonExample > tbody > tr > td:nth-child(2) pre,
.TableStyle-AdmonNote > tbody > tr > td:nth-child(2) pre,
.TableStyle-AdmonTip > tbody > tr > td:nth-child(2) pre
{
	white-space: pre-wrap;
}

.TableStyle-AdmonCaution > tbody > tr > td:nth-child(2):before,
.TableStyle-AdmonCode > tbody > tr > td:nth-child(2):before,
.TableStyle-AdmonExample > tbody > tr > td:nth-child(2):before,
.TableStyle-AdmonNote > tbody > tr > td:nth-child(2):before,
.TableStyle-AdmonTip > tbody > tr > td:nth-child(2):before
{
	color: #333333;
	display: inline-block;
	font-weight: bold;
}

.TableStyle-AdmonCaution > tbody > tr > td:nth-child(2):before
{
	content: 'Caution';
}

.TableStyle-AdmonCaution > tbody > tr > td:first-child
{
	background-image: url('../_TopNav/Images/Admons/ic_caution.svg');
}
.TableStyle-AdmonCode > tbody > tr > td:first-child
{
	background-image: url('../_TopNav/Images/Admons/ic_code.svg');
	background-position: 16px 17px;
}

.TableStyle-AdmonExample > tbody > tr > td:first-child
{
	background-image: url('../_TopNav/Images/Admons/ic_example.svg');
}

.TableStyle-AdmonNote > tbody > tr > td:first-child
{
	background-image: url('../_TopNav/Images/Admons/ic_note.svg');
}
/*/////////////////////////////////////////////////////////*/
table table.TableStyle-AdmonCaution > tbody > tr > td:first-child,
table table.TableStyle-AdmonExample > tbody > tr > td:first-child,
table table.TableStyle-AdmonNote > tbody > tr > td:first-child,
table table.TableStyle-AdmonTip > tbody > tr > td:first-child
{
	background-position: 7px 14px;
}

table table.TableStyle-AdmonCode > tbody > tr > td:first-child {
	background-position: 7px 11px;
}

table table.TableStyle-AdmonCaution > tbody > tr > td:nth-child(2),
table table.TableStyle-AdmonExample > tbody > tr > td:nth-child(2),
table table.TableStyle-AdmonNote > tbody > tr > td:nth-child(2),
table table.TableStyle-AdmonTip > tbody > tr > td:nth-child(2)
{
	background-color: transparent;
}

table table.TableStyle-AdmonCaution > tbody > tr > td:nth-child(2),
table table.TableStyle-AdmonExample > tbody > tr > td:nth-child(2),
table table.TableStyle-AdmonNote > tbody > tr > td:nth-child(2),
table table.TableStyle-AdmonTip > tbody > tr > td:nth-child(2),
table table.TableStyle-AdmonCode > tbody > tr > td:nth-child(2)
{
	padding: 4px;
}

table table.TableStyle-AdmonCaution > tbody > tr > td:first-child
{
	background-color: transparent;
	background-image: url('../_TopNav/Images/Admons/ic_caution.svg');
}
table table.TableStyle-AdmonCode > tbody > tr > td:first-child
{
	background-image: url('../_TopNav/Images/Admons/ic_code.svg');
}

table table.TableStyle-AdmonExample > tbody > tr > td:first-child
{
	background-color: transparent;
	background-image: url('../_TopNav/Images/Admons/ic_example.svg');
}

table table.TableStyle-AdmonNote > tbody > tr > td:first-child
{
	background-color: transparent;
	background-image: url('../_TopNav/Images/Admons/ic_note.svg');
}
table table.TableStyle-AdmonTip > tbody > tr > td:first-child
{
	background-color: transparent;
	background-image: url('../_TopNav/Images/Admons/ic_tip.svg');
}
.TableStyle-AdmonNote > tbody > tr > td:nth-child(2):before
{
	content: 'Note';
}

table .TableStyle-AdmonExample, 
table .TableStyle-AdmonCode, 
table .TableStyle-AdmonTip, 
table .TableStyle-AdmonCaution, 
table .TableStyle-AdmonNote {
    margin-top: 0px;
	border-left: none;
}

table .TableStyle-AdmonCaution > tbody > tr > td:nth-child(2):before,
table .TableStyle-AdmonNote > tbody > tr > td:nth-child(2):before,
table .TableStyle-AdmonExample > tbody > tr > td:nth-child(2):before,
table .TableStyle-AdmonCode > tbody > tr > td:nth-child(2):before,
table .TableStyle-AdmonTip > tbody > tr > td:nth-child(2):before
{
	content: '';
	display: none;
}

.TableStyle-AdmonTip > tbody > tr > td:first-child
{
	background-image: url('../_TopNav/Images/Admons/ic_tip.svg');
}

.TableStyle-AdmonTip > tbody > tr > td:nth-child(2):before
{
	content: 'Tip';
}


.TableStyle-AdmonCode ol,
.TableStyle-AdmonExample ol, 
.TableStyle-AdmonNote ol, 
.TableStyle-AdmonCaution ol, 
.TableStyle-AdmonWarning ol, 
.TableStyle-AdmonTip ol
{
	list-style-type: decimal;
}

.TableStyle-AdmonCode ol ol,
.TableStyle-AdmonExample ol ol, 
.TableStyle-AdmonNote ol ol, 
.TableStyle-AdmonCaution ol ol, 
.TableStyle-AdmonWarning ol ol, 
.TableStyle-AdmonTip ol ol
{
	list-style-type: lower-alpha;
}

.TableStyle-AdmonCode ol ol ol,
.TableStyle-AdmonExample ol ol ol, 
.TableStyle-AdmonNote ol ol ol, 
.TableStyle-AdmonCaution ol ol ol, 
.TableStyle-AdmonWarning ol ol ol, 
.TableStyle-AdmonTip ol ol ol
{
	list-style-type: lower-roman;
}

.TableStyle-AdmonCode ol ol ol ol,
.TableStyle-AdmonExample ol ol ol ol, 
.TableStyle-AdmonNote ol ol ol ol, 
.TableStyle-AdmonCaution ol ol ol ol, 
.TableStyle-AdmonWarning ol ol ol ol, 
.TableStyle-AdmonTip ol ol ol ol
{
	list-style-type: decimal;
}

div.Border
{
	border: 1px solid #000000;
	border-radius: 5px;
	padding: 5px;
	mc-hidden: hidden;
}

div.KeepTogether *
{
	page-break-after: avoid;
}

div.indent
{
	margin-left: 24px;
	mc-hidden: hidden;
}

div.indent2
{
	margin-left: 48px;
	mc-hidden: hidden;
}

div.indent3
{
	margin-left: 72px;
	mc-hidden: hidden;
}

div.right
{
	float: right;
	mc-hidden: hidden;
}

div.sidebar
{
	background-color: #cccccc;
	border-top: none;
	float: right;
	margin-left: 10px;
	padding-left: 10px;
	padding-top: 3px;
	width: 50%;
	mc-hidden: hidden;
}

div.table-scroll {
	max-width: 100%;
	overflow-x: auto;
}

div.not-for-translation {
	
}

h1
{
	color: #333333;
	column-break-after: avoid;
	font-size: 200%;
	font-weight: normal;
	line-height: 1em;
	margin-top: 0;
	mc-hyphenate: never;
	page-break-after: avoid;
	page-break-before: always;
	page-break-inside: avoid;
	word-break: normal;
	word-wrap: normal;
}

h1.Appendix
{
	margin-left: 0;
	mc-auto-number-format: 'GX: Appendix {A+}:  ';
	mc-auto-number-position: none;
}

h1.ImportantNotice
{
	color: #000000;
	mc-heading-level: 0;
	mc-hidden: hidden;
}

h1.TOC
{
	color: #005DAC;
	font-size: 18pt;
	font-weight: bold;
	mc-heading-level: 0;
	mc-hidden: hidden;
}

h2
{
	border-top: solid 1px #EEEEEE;
	color: #000000;
	column-break-after: avoid;
	font-size: 160%;
	font-weight: normal;
	margin-top: 42px;
	mc-hyphenate: never;
	padding-top: 11px;
	page-break-after: avoid;
	page-break-before: avoid;
	page-break-inside: avoid;
	word-break: normal;
	word-wrap: normal;
}

/* div.h2 {
  border-top: solid 1px #EEEEEE;
  position: absolute;
  bottom: 2.6rem;
  width: 100%;
} */

h2.Appendix
{
	mc-auto-number-format: 'GX: Appendix {A+}:  ';
}

h2.ImportantNotice
{
	color: #000000;
	font-size: 11pt;
	font-weight: bold;
	mc-heading-level: 0;
	mc-hidden: hidden;
}

h2.step
{
	mc-auto-number-format: 'T:Step {n+}: ';
	mc-heading-level: 2;
}

h2.stepReset {
	mc-auto-number-format: 'T:Step {n=1}: ';
	mc-heading-level: 2;
}

h3
{
	color: #000000;
	column-break-after: avoid;
	font-size: 140%;
	font-weight: normal;
	mc-heading-level: 3;
	mc-hyphenate: never;
	page-break-after: avoid;
	page-break-before: avoid;
	page-break-inside: avoid;
	word-break: normal;
	word-wrap: normal;
}

h3.itt
{
	mc-disabled: true;
}

h3.step
{
	font-family: 'Open Sans Light';
	font-size: 120%;
	font-weight: bold;
	margin-top: 36px;
	mc-auto-number-format: 'S:Step {n+}: ';
	mc-heading-level: 3;
}



h3.stepReset
{
	font-family: 'Open Sans Light';
	font-size: 120%;
	font-weight: bold;
	mc-auto-number-format: 'S:Step {n=1}: ';
	mc-heading-level: 3;
}

h4
{
	color: black;
	font-size: 120%;
	font-weight: normal;
	mc-heading-level: 0;
	mc-hyphenate: never;
	page-break-after: avoid;
	page-break-inside: avoid;
	word-break: normal;
	word-wrap: normal;
}

h4.itt
{
	mc-heading-level: 4;
}

h5
{
	font-weight: bold;
	mc-heading-level: 0;
	mc-hyphenate: never;
	page-break-after: avoid;
	word-break: normal;
	word-wrap: normal;
}

h6
{
	font-weight: bold;
	letter-spacing: 1px;
	margin-top: 20px;
	mc-heading-level: 0;
	mc-hyphenate: never;
	page-break-after: avoid;
	page-break-inside: avoid;
	word-break: normal;
	word-wrap: normal;
}

h7,
h8,
h9
{
	mc-heading-level: 0;
}

img
{
	margin-left: 0;
	margin-right: 0;
	margin-top: 1em;
	max-width: 100%;
}

img.icon {
	margin: 0;
	height: 20px;
	width: auto;
}

img.xsmall {
	width: 100px;
	height: auto;
}

img.small {
	width: 300px;
	height: auto;
}

img.medium {
	width: 500px;
	height: auto;
}

img.large {
	width: 700px;
	height: auto;
}

img.xlarge {
	max-width: 900px;
	height: auto;
}

img.Enlarge
{
	mc-thumbnail: popup;
	mc-thumbnail-max-height: auto;
	mc-thumbnail-max-width: 100%;
}

img.EnlargeNarrowImage {
	mc-thumbnail: popup;
	mc-thumbnail-max-height: 500px;
	mc-thumbnail-max-width: auto;
}

img.Picture,
img.Picture2,
img.Picture3,
img.ScreenCapture,
img.ScreenCapture2,
img.ScreenCapture3,
img.Thumbnail
{
	mc-disabled: true;
}

img.Picture
{
	mc-thumbnail: popup;
}

img.Picture2
{
	max-width: 80%;
	mc-thumbnail: popup;
}

img.Picture3
{
	max-width: 60%;
	mc-thumbnail: popup;
}

img.ScreenCapture
{
	border: 1pt solid #f0f0f0;
	mc-thumbnail: popup;
}

img.ScreenCapture2
{
	border: 1pt solid #f0f0f0;
	max-width: 80%;
	mc-thumbnail: popup;
}

img.ScreenCapture3
{
	border: 1pt solid #f0f0f0;
	max-width: 60%;
	mc-thumbnail: popup;
}

img.Thumbnail
{
	mc-thumbnail: popup;
}

li
{
	mc-hyphenate: never;
	word-break: normal;
	word-wrap: normal;
}

MadCap|dropDownBody ol > li,
MadCap|dropDownBody ul > li
{
	line-height: normal;
	margin-bottom: 20px;
	margin-top: 20px;
	padding-bottom: 0px;
	padding-top: 0px;
}

.dropDownBody li p,
MadCap|dropDownBody li p
{
	line-height: normal;
	margin-bottom: 10px;
	margin-top: 10px;
	padding-bottom: 0px;
	padding-top: 0px;
}

ol
{
	margin-bottom: 6px;
	margin-top: 6px;
	padding-left: 24px;
}

ol > li
{
	margin-bottom: 20px;
	margin-top: 20px;
}

ol ol
{
	list-style-type: lower-alpha;
}

ol ol ol
{
	list-style-type: lower-roman;
}

ol ol ol ol
{
	list-style-type: decimal;
}

ul
{
	margin-bottom: 6px;
	margin-left: 16px;
	margin-top: 6px;
	padding-left: 0;
}

li {
	line-height: 1.8;
}

ul > li
{
	margin-bottom: 20px;
	margin-left: 0;
	margin-top: 20px;
	padding-left: 19px;
}

ul.mtp-items > li a:visited,
.mt-wrapper a:visited,
.mt-wrapper a:link:visited
{
	color: #047ad4;
}

ul.BulletList2 li,
li.BulletList2
{
	margin-left: 18pt;
}

ul.BulletList3 li,
li.BulletList3
{
	margin-left: 36pt;
}

ul.BulletList4 li,
li.BulletList4
{
	margin-left: 54pt;
}

table ol li
{
	margin-bottom: 1px;
	margin-top: 1px;
}

table p
{
	margin-bottom: 10px;
	margin-top: 10px;
}

table pre
{
	word-break: break-word;
}

p.RowNumberReset {
	mc-auto-number-format: 'R:{n=1}';
}

p.RowNumber
{
	mc-auto-number-format: 'R:{n+}';
}

p
{
	line-height: 1.8;
	margin-bottom: 20px;
	margin-top: 20px;
	mc-hyphenate: never;
	word-break: normal;
	word-wrap: normal;
}

p.Bold
{
	font-weight: bold;
	mc-hidden: hidden;
}

p.Bold2
{
	font-weight: bold;
	margin-left: 18pt;
	mc-hidden: hidden;
}

p.DocumentSubTitle
{
	font-size: 120%;
	mc-hidden: hidden;
}

p.DocumentSubTitleNewPage
{
	font-size: 120%;
	page-break-before: always;
	mc-hidden: hidden;
}

p.DocumentTitle
{
	color: #005DAC;
	font-size: 220%;
	font-weight: bold;
	letter-spacing: -1px;
	margin-bottom: 40px;
	mc-hidden: hidden;
}

p.Footer
{
	border-top: solid 1pt #c1c1c1;
	color: #c1c1c1;
	text-align: center;
	mc-hidden: hidden;
}

p.FootnoteText
{
	font-size: 90%;
	mc-hidden: hidden;
}

p.Header
{
	color: #c1c1c1;
	text-align: right;
	mc-hidden: hidden;
}

p.HeaderEven
{
	color: #c1c1c1;
	text-align: left;
	mc-hidden: hidden;
}

div.videoWrapper
{
	margin: 20px 20px 20px 0;
	display: inline-block;
}

div.NextStep,
div.SeeAlso
{
	margin-bottom: 20px;
	margin-top: 20px;
}

div.SeeAlso:before
{
	content: 'See Also';
	font-family: 'Open Sans';
	font-weight: bold;
	color: #3165bd;
	text-transform: uppercase;
}

div.NextStep:before
{
	content: 'Next Step';
	font-family: 'Open Sans';
	font-weight: bold;
	color: #3165bd;
	text-transform: uppercase;
}

div.NextStep p,
div.SeeAlso p
{
	margin: 0;
}

p.PageBreakAfter
{
	mc-hidden: hidden;
	font-size: 1pt;
}

p.PageNumberFirst
{
	color: #c1c1c1;
	font-size: 120%;
	font-weight: normal;
	margin-top: 0;
	text-align: left;
	mc-hidden: hidden;
}

p.PageNumberRight
{
	color: #c1c1c1;
	font-size: 120%;
	font-weight: normal;
	margin-top: 0;
	mc-hidden: hidden;
}

p.Spacer
{
	font-size: 6pt;
	margin: 0;
}

p.TableFont
{
	color: black;
	font-weight: normal;
	margin-bottom: 3pt;
	margin-top: 3pt;
	mc-hidden: hidden;
}

p.TableHeading
{
	color: #000000;
	font-weight: bold;
	margin-bottom: 10px;
	margin-top: 10px;
	mc-hidden: hidden;
}

p.TableSideHeading
{
	font-style: normal;
	font-weight: bold;
	margin-bottom: 3px;
	margin-top: 3px;
	mc-hidden: hidden;
}

p.image_caption
{
	font-style: italic;
	margin-bottom: 0;
	margin-top: 1em;
	mc-hyphenate: never;
	page-break-after: avoid;
	word-break: normal;
	word-wrap: normal;
	mc-hidden: hidden;
}

p.versionReq
{
	background-color: #6BA3D7;
	color: #fff;
	font-size: 80%;
	padding: .2em .6em .3em;
	padding-left: 2em;
	position: relative;
	text-align: center;
	vertical-align: baseline;
	white-space: nowrap;
}

[data-mc-target-type^=WebHelp2] p.versionReq
{
	border-radius: .25em;
	display: inline-block;
}

p.versionReq:before
{
	content: " ";
	background-image: url('../_TopNav/Images/Content/ic_code_branch.svg');
	width: 20px;
	background-repeat: no-repeat;
	background-position: left center;
	height: 100%;
	left: 0.4em;
	top: 0;
	position: absolute;
}

pre
{
	font-family: "Courier New";
	margin-bottom: 6pt;
	margin-top: 0;
	white-space: pre-wrap;
	line-height: 1.4rem;
}

code, code *, div.code * {

	font-family: 'Courier New'!important;
}

p code, li > code
{
	background-color: #e6edf3;
	border-radius: .2rem;
	color: black;
	font-size: 87.5%;
	padding: .2rem .1rem;
	word-break: break-word;
}

p code.no-break, li > code.no-break
{

	word-break: normal;
}

code.box
{
	background-color: #f5f5f5;
	border: 1px solid #cfcfcf;
	border-radius: 3px;
	color: #444444;
	padding: 1px 4px;
	mc-hidden: hidden;
}

code.shell
{
	/* placeholder */
	mc-hidden: hidden;
}

span.CharError
{
	color: #ff0000;
	font-weight: bold;
	mc-hidden: hidden;
}

span.Emphasis
{
	font-weight: bold;
}

span.Italics
{
	font-style: italic;
}

span.Label
{
	font-weight: bold;
	mc-hidden: hidden;
}

span.Label:after
{
	content: '   ';
}

span.SearchHighlight1
{
	background: yellow;
}

div.code span.SearchHighlight1, 
div.code-line-numbers span.SearchHighlight1 {
    color: black!important;
}

span.Wrap
{
	word-break: break-all;
}

span.WrapEmphasis
{
	font-weight: bold;
	word-break: break-all;
	mc-hidden: hidden;
}

span.bullet
{
	font-size: 8pt;
	vertical-align: text-top;
	mc-hidden: hidden;
}

span.symbol
{
	font-family: Wingdings;
}

sup 
{
    font-size: small;
}

/* Text styles for Release Notes import from WORD */

span.RN-Internal
{
	color: red;
	font-style: italic;
}

span.RN-PCloud-PAS
{
	color: green;
	font-style: italic;
}

span.RN-PCloud-only
{
	color: purple;
	font-style: italic;
}

/* End  of Text styles for Release Notes import from WORD */

td
{
	font-size: 100%;
	margin-bottom: 8px;
	mc-hyphenate: never;
	vertical-align: top;
	word-break: normal;
	word-wrap: normal;
}

td.bold
{
	font-weight: bold;
	margin-bottom: 8px;
	mc-hyphenate: never;
	vertical-align: top;
	word-break: normal;
	word-wrap: normal;
}

th
{
	font-size: 100%;
	mc-hyphenate: never;
	word-break: normal;
	word-wrap: normal;
}

/* Toggler */
div.Toggler
{
	/* Placeholder*/
}
.Toggler .dropDownBody {
	margin-left: 0;
}
.Toggler .MCDropDown.dropDown > span > a
{
	display: inline-block;
	margin: 0;
	width: 100%;
	min-height: 32px;
	text-indent: 0;
	position: relative;
	padding: 5px 21px;
	text-decoration: none!important;
}

.Toggler .MCDropDown_Closed.dropDown > span > a
{
	background: #f8f8f8;
	color: #333333;
	border-bottom: solid 2px #e1e1e1;
}

.Toggler .MCDropDown_Closed.dropDown > span > a:hover
{
	background: rgb(22, 131, 215, 0.2);
}

.Toggler .MCDropDown_Open.dropDown > span > a
{
	background: rgb(22, 131, 215, 0.2);
	color: #333333;
	border-bottom: solid 2px #e1e1e1;
}

.Toggler .MCDropDown.dropDown
{
	margin: 10px 0px;
	padding: 4px 0;
	border-bottom: none;
}

.Toggler .dropDownHotspot:link
{
	font-family: 'Open Sans Semibold';
}

.Toggler .MCDropDown.dropDown > span > a:after
{
	height: 15px;
	width: 14px;
	position: absolute;
	display: inline-block;
	content: ' ';
	background-repeat: no-repeat;
	background-image: url('../_TopNav/Images/Menus/ic-arrow-big-blue-open.svg');
	transform: rotate(-90deg);
}

.Toggler .MCDropDown_Closed.dropDown > span > a:after
{
	transform: rotate(270deg);
	bottom: 11px;
	margin-left: 15px;
}

.Toggler .MCDropDown_Open.dropDown > span > a:after
{
	transform: rotate(90deg);
	bottom: 3px;
	margin-left: 8px;
}

.Toggler .dropDown > span .MCHotSpotImage:before
{
	background: none !important;
}

.Toggler .dropDown.MCDropDown_Open > span > .MCDropDownHotSpot.dropDownHotspot.MCDropDownHotSpot_.MCHotSpotImage,
.Toggler .dropDown.MCDropDown_Closed .MCDropDownHotSpot.dropDownHotspot.MCDropDownHotSpot_.MCHotSpotImage
{
	padding: 6px 22px;
}

.Toggler .dropDownHead
{
	font-size: 16px;
	margin-left: 22px;
}

/* Deprecated Styles */
/* Deprecated DEFAULT Styles */

p.Bullet
{
	margin-bottom: 3px;
	margin-left: 19px;
	margin-top: 3px;
	mc-auto-number-class: bullet;
	mc-auto-number-format: '{color #666666}{size .6rem}■{/size}{/color}';
	mc-auto-number-offset: 19px;
	mc-auto-number-position: outside-head;
	mc-next-class: Bullet;
	mc-next-tag: p;
	mc-hidden: hidden;
}

p.Bullet2
{
	margin-bottom: 3px;
	margin-left: 38px;
	margin-top: 3px;
	mc-auto-number-class: bullet;
	mc-auto-number-format: '{color #666666}{size .6rem}■{/size}{/color}';
	mc-auto-number-offset: 19px;
	mc-auto-number-position: outside-head;
	mc-next-class: Bullet2;
	mc-next-tag: p;
	mc-hidden: hidden;
}

p.Bullet3
{
	margin-bottom: 3px;
	margin-left: 57px;
	margin-top: 3px;
	mc-auto-number-class: bullet;
	mc-auto-number-format: '{color #666666}{size .6rem}■{/size}{/color}';
	mc-auto-number-offset: 19px;
	mc-auto-number-position: outside-head;
	mc-next-class: Bullet3;
	mc-next-tag: p;
	mc-hidden: hidden;
}

p.Bullet4
{
	margin-bottom: 3px;
	margin-left: 76px;
	margin-top: 3px;
	mc-auto-number-class: bullet;
	mc-auto-number-format: '{color #666666}{size .6rem}■{/size}{/color}';
	mc-auto-number-offset: 19px;
	mc-auto-number-position: outside-head;
	mc-next-class: Bullet4;
	mc-next-tag: p;
	mc-hidden: hidden;
}

p.comment
{
	mc-hyphenate: never;
	word-break: normal;
	word-wrap: normal;
	mc-hidden: hidden;
}

p.ListContinue
{
	margin-bottom: 3px;
	margin-left: 24px;
	margin-top: 3px;
	page-break-before: avoid;
	mc-hidden: hidden;
}

p.ListContinue2
{
	margin-bottom: 3px;
	margin-left: 48px;
	margin-top: 3px;
	page-break-before: avoid;
	mc-hidden: hidden;
}

p.ListContinue3
{
	margin-bottom: 3px;
	margin-left: 72px;
	margin-top: 3px;
	page-break-before: avoid;
	mc-hidden: hidden;
}

p.ListContinue4
{
	margin-bottom: 3px;
	margin-left: 96px;
	margin-top: 3px;
	page-break-before: avoid;
	mc-hidden: hidden;
}

p.MiniTOC1_0
{
	background: transparent url('../_TopNav/Images/Content/ic_bullet_link.png') no-repeat left 13px;
	mc-hidden: hidden;
}

p.MiniTOC1
{
	font-weight: normal;
	margin: 0 0 3px 0;
	padding-left: 19px;
	mc-pagenum-display: none;
}

p.MiniTOC2
{
	color: #005DAC;
	font-style: italic;
	font-weight: normal;
	margin-bottom: 3px;
	margin-left: 10px;
	margin-top: 0;
	mc-pagenum-display: none;
}

p.Note
{
	margin-left: 45px;
	mc-auto-number-format: '{b}Note: {/b}  ';
	text-indent: -45px;
	mc-hidden: hidden;
}

p.Note1
{
	margin-left: 90px;
	mc-auto-number-format: '{b}Note: {/b}  ';
	text-indent: -45px;
	mc-hidden: hidden;
}

p.Note2
{
	margin-left: 135px;
	mc-auto-number-format: '{b}Note: {/b}  ';
	text-indent: -45px;
	mc-hidden: hidden;
}

p.Note3
{
	margin-left: 180px;
	text-indent: -45px;
	mc-auto-number-format: '{b}Note: {/b}  ';
	mc-hidden: hidden;
}

p.NoteContinue
{
	margin-left: 45px;
	mc-hidden: hidden;
}

p.NoteContinue1
{
	margin-left: 90px;
	mc-hidden: hidden;
}

p.NoteContinue2
{
	margin-left: 135px;
	mc-hidden: hidden;
}

p.NoteContinue3
{
	margin-left: 180px;
	mc-hidden: hidden;
}

p.Notes
{
	margin-left: 45px;
	text-indent: -45px;
	mc-auto-number-format: '{b}Notes: {/b}  ';
	mc-hidden: hidden;
}

p.NotesContinue
{
	mc-hidden: hidden;
}

p.PictureCenter
{
	text-align: center;
	mc-hidden: hidden;
}

p.PictureLeft
{
	text-align: left;
	mc-hidden: hidden;
}

p.PictureRight
{
	text-align: right;
	mc-hidden: hidden;
}

p.ProcedureHeading, div.ProcedureHeading
{
	font-weight: bold;
	page-break-after: avoid;
	margin-left: 0px;
	margin-bottom: 20px;
	margin-top: 20px;
	font-size: 108%;
	line-height: 1.8;
}

div.ProcedureHeading {
	mc-next-tag: 'p';
}

p.ProcedureHeading {
	mc-hidden: hidden;
}

p.ProcedureHeading2
{
	font-weight: bold;
	margin-left: 48px;
	margin-top: 20px;
	mc-next-class: Steps2;
	page-break-after: avoid;
	mc-hidden: hidden;
}

p.ProcedureHeading3
{
	font-weight: bold;
	margin-left: 72px;
	mc-disabled: true;
	mc-next-class: Steps3;
	page-break-after: avoid;
}

p.Program
{
	border-bottom: solid 1px black;
	border-left: solid 1px black;
	border-right: solid 1px black;
	border-top: solid 1px black;
	font-family: 'Courier New';
	font-size: 90%;
	margin-left: 0;
	padding: 4px;
	text-align: left;
	text-indent: 0;
	mc-hidden: hidden;
}

p.Program2
{
	border-bottom: solid 1px black;
	border-left: solid 1px black;
	border-right: solid 1px black;
	border-top: solid 1px black;
	font-family: 'Courier New';
	font-size: 90%;
	margin-left: 24px;
	padding: 4px;
	text-align: left;
	text-indent: 0;
	mc-hidden: hidden;
}

p.Program3
{
	border-bottom: solid 1px black;
	border-left: solid 1px black;
	border-right: solid 1px black;
	border-top: solid 1px black;
	font-family: 'Courier New';
	font-size: 90%;
	margin-left: 48px;
	padding: 4px;
	text-align: left;
	text-indent: 0;
	mc-hidden: hidden;
}

p.Steps
{
	margin-bottom: 3px;
	margin-left: 9px;
	margin-top: 3px;
	mc-auto-number-format: 'N: {n+}. ';
	mc-auto-number-offset: 19px;
	mc-auto-number-position: outside-head;
	mc-next-class: Steps;
	mc-next-tag: p;
	mc-hidden: hidden;
}

p.Steps_1
{
	margin-bottom: 3px;
	margin-left: 9px;
	margin-top: 3px;
	mc-auto-number-format: 'N: {n=1}. ';
	mc-auto-number-offset: 19px;
	mc-auto-number-position: outside-head;
	mc-next-class: Steps;
	mc-next-tag: p;
	mc-hidden: hidden;
}

p.Steps2
{
	margin-bottom: 3px;
	margin-left: 38px;
	margin-top: 3px;
	mc-auto-number-format: 'M: {a+}. ';
	mc-auto-number-offset: 19px;
	mc-auto-number-position: outside-head;
	mc-next-class: Steps2;
	mc-next-tag: p;
	mc-hidden: hidden;
}

p.Steps2_1
{
	margin-bottom: 3px;
	margin-left: 38px;
	margin-top: 3px;
	mc-auto-number-format: 'M: {a=1}. ';
	mc-auto-number-offset: 19px;
	mc-auto-number-position: outside-head;
	mc-next-class: Steps2;
	mc-next-tag: p;
	mc-hidden: hidden;
}

p.Steps3
{
	margin-bottom: 3px;
	margin-left: 57px;
	margin-top: 3px;
	mc-auto-number-format: 'L: {r+}. ';
	mc-auto-number-offset: 19px;
	mc-auto-number-position: outside-head;
	mc-next-class: Steps3;
	mc-next-tag: p;
	mc-hidden: hidden;
}

p.Steps3_1
{
	margin-bottom: 3px;
	margin-left: 57px;
	margin-top: 3px;
	mc-auto-number-format: 'L: {r=1}. ';
	mc-auto-number-offset: 19px;
	mc-auto-number-position: outside-head;
	mc-next-class: Steps3;
	mc-next-tag: p;
	mc-hidden: hidden;
}

p.Steps4
{
	margin-bottom: 3px;
	margin-left: 76px;
	margin-top: 3px;
	mc-auto-number-format: 'K: {n+}. ';
	mc-auto-number-offset: 19px;
	mc-auto-number-position: outside-head;
	mc-next-class: Steps3;
	mc-next-tag: p;
	mc-hidden: hidden;
}

p.Steps4_1
{
	margin-bottom: 3px;
	margin-left: 76px;
	margin-top: 3px;
	mc-auto-number-format: 'L: {n=1}. ';
	mc-auto-number-offset: 19px;
	mc-auto-number-position: outside-head;
	mc-next-class: Steps3;
	mc-next-tag: p;
	mc-hidden: hidden;
}

p.subheading
{
	font-weight: bold;
	margin-top: 10px;
	page-break-after: avoid;
	mc-hidden: hidden;
}

p.TableSteps
{
	margin-bottom: 1px;
	margin-left: 24px;
	margin-top: 1px;
	mc-auto-number-format: 'N: {n+}. ';
	mc-auto-number-offset: 24px;
	mc-auto-number-position: outside-head;
	mc-next-class: Steps;
	mc-next-tag: p;
	mc-hidden: hidden;
}

p.TableSteps_1
{
	margin-bottom: 1px;
	margin-left: 24px;
	margin-top: 3px;
	mc-auto-number-format: 'N: {n=1}. ';
	mc-auto-number-offset: 18pt;
	mc-auto-number-position: outside-head;
	mc-next-class: Steps;
	mc-next-tag: p;
	mc-hidden: hidden;
}

p.TableSteps2
{
	margin-bottom: 1px;
	margin-left: 48px;
	margin-top: 1px;
	mc-auto-number-format: 'M: {r+}. ';
	mc-auto-number-offset: 24px;
	mc-auto-number-position: outside-head;
	mc-next-class: Steps2;
	mc-next-tag: p;
	mc-hidden: hidden;
}

p.TableSteps2_1
{
	margin-bottom: 1px;
	margin-left: 48px;
	margin-top: 1px;
	mc-auto-number-format: 'M: {r=1}. ';
	mc-auto-number-offset: 24px;
	mc-auto-number-position: outside-head;
	mc-next-class: Steps2;
	mc-next-tag: p;
	mc-hidden: hidden;
}

p.TableText
{
	font-weight: normal;
	/* margin-bottom: 3px;
	margin-top: 3px; */
	mc-hidden: hidden;
}

p.TableTextBold
{
	font-weight: bold;
	/* margin-bottom: 3px;
	margin-top: 3px; */
	mc-hidden: hidden;
}

p.TableTextBullet
{
	margin-bottom: 1px;
	margin-left: 24px;
	margin-top: 1px;
	mc-auto-number-class: bullet;
	mc-auto-number-format: '{color #666666}{size .4rem}■{/size}{/color}';
	mc-auto-number-offset: 24px;
	mc-auto-number-position: outside-head;
	mc-next-class: TableTextBullet;
	mc-next-tag: p;
	mc-hidden: hidden;
}

p.TableTextBullet2
{
	margin-bottom: 1px;
	margin-left: 48px;
	margin-top: 1px;
	mc-auto-number-class: bullet;
	mc-auto-number-format: '{color #666666}{size .4rem}■{/size}{/color}';
	mc-auto-number-offset: 24px;
	mc-auto-number-position: outside-head;
	mc-next-class: TableTextBullet2;
	mc-next-tag: p;
	mc-hidden: hidden;
}

p.TableTextBullet2Continue
{
	font-size: 90%;
	margin-bottom: 1px;
	margin-left: 48px;
	margin-top: 1px;
	mc-hidden: hidden;
}

p.TableTextBullet3
{
	margin-bottom: 1px;
	margin-left: 72px;
	margin-top: 1px;
	mc-auto-number-class: bullet;
	mc-auto-number-format: '{color #666666}{size .4rem}■{/size}{/color}';
	mc-auto-number-offset: 24px;
	mc-auto-number-position: outside-head;
	mc-next-class: TableTextBullet3;
	mc-next-tag: p;
	mc-hidden: hidden;
}

p.TableTextBullet3Continue
{
	margin-bottom: 1px;
	margin-left: 72px;
	margin-top: 1px;
	mc-hidden: hidden;
}

p.TableTextBullet4
{
	margin-bottom: 1px;
	margin-left: 96px;
	margin-top: 1px;
	mc-auto-number-class: bullet;
	mc-auto-number-format: '{color #666666}{size .4rem}■{/size}{/color}';
	mc-auto-number-offset: 24px;
	mc-auto-number-position: outside-head;
	mc-next-class: TableTextBullet4;
	mc-next-tag: p;
	mc-hidden: hidden;
}

p.TableTextBulletContinue
{
	margin-bottom: 1px;
	margin-left: 24px;
	margin-top: 1px;
	mc-hidden: hidden;
}

p.Usage
{
	font-family: 'Courier New';
	font-size: 10pt;
	mc-hidden: hidden;
}

q
{
	mc-hidden: hidden;
}

s
{
	mc-hidden: hidden;
}

samp
{
	mc-hidden: hidden;
}

strike
{
	mc-hidden: hidden;
}

strong
{
	mc-hidden: hidden;
}

sub
{
	mc-hidden: hidden;
}

sup
{
	mc-hidden: hidden;
}

tt
{
	mc-hidden: hidden;
}

var
{
	mc-hidden: hidden;
}

span.state
{
	mc-hidden: hidden;
}

label
{
	mc-hidden: hidden;
}

legend
{
	mc-hidden: hidden;
}

kbd
{
	mc-hidden: hidden;
}

ins
{
	mc-hidden: hidden;
}

header
{
	mc-hidden: hidden;
}

h9
{
	mc-hidden: hidden;
}

h8
{
	mc-hidden: hidden;
}

h7
{
	mc-hidden: hidden;
}

footer
{
	mc-hidden: hidden;
}

em
{
	mc-hidden: hidden;
}

del
{
	mc-hidden: hidden;
}

datalist
{
	mc-hidden: hidden;
}

cite
{
	mc-hidden: hidden;
}

canvas
{
	mc-hidden: hidden;
}

abbr
{
	mc-hidden: hidden;
}

acronym
{
	mc-hidden: hidden;
}

area
{
	mc-hidden: hidden;
}

article
{
	mc-hidden: hidden;
}

aside
{
	mc-hidden: hidden;
}

big
{
	mc-hidden: hidden;
}

br
{
	mc-hidden: hidden;
}

small
{
	mc-hidden: hidden;
}

li.BulletList2
{
	mc-hidden: hidden;
}

li.BulletList3
{
	mc-hidden: hidden;
}

li.BulletList4
{
	mc-hidden: hidden;
}

MadCap|helpControlMenuItem
{
	mc-hidden: hidden;
}

MadCap|slideThumbnail
{
	mc-hidden: hidden;
}

span.boolean
{
	mc-hidden: hidden;
}

ul.mtp-items
{
	mc-hidden: hidden;
}

ul.BulletList2
{
	mc-hidden: hidden;
}

ul.BulletList3
{
	mc-hidden: hidden;
}

ul.BulletList4
{
	mc-hidden: hidden;
}

/* END OF: Deprecated DEFAULT Styles */
/* END OF DEFAULT */
/* MEDIA PRINT - styles for printed output - PDFs */

@media print
{
	html
	{
		font-size: 11pt;
		margin-right: 0;
	}

	body
	{
		font-family: Arial, Verdana, Sans-Serif;
		font-size: 100%;
		margin: 0 0 6pt 0;
	}

	MadCap|dropDown
	{
		margin-top: 15px;
	}

	MadCap|dropDownHotspot
	{
		font-size: 11pt;
		font-style: inherit;
		font-weight: bold;
	}

	MadCap|dropDownBody
	{
		margin-left: 0px;
		margin-top: 6pt;
	}

	MadCap|dropDownBody ol > li,
	MadCap|dropDownBody ul > li
	{
		line-height: normal;
		margin-bottom: 3px;
		margin-top: 3px;
		padding-bottom: 0px;
		padding-top: 0px;
	}

	MadCap|dropDownBody li p
	{
		line-height: normal;
		margin-bottom: 10px;
		margin-top: 10px;
		padding-bottom: 0px;
		padding-top: 0px;
	}

	MadCap|xref
	{
		mc-format: '{paratext}, page {page}';
	}

	div.indent
	{
		margin-left: 18pt;
	}

	div.indent2
	{
		margin-left: 32pt;
	}

	div.indent3
	{
		margin-left: 54pt;
	}

	h1
	{
		color: #005DAC;
		font-size: 22pt;
		line-height: 30pt !important;
		margin-bottom: 40pt;
		margin-top: 200pt;
	}

	h1.ImportantNotice
	{
		margin-bottom: 6pt;
		margin-top: 18pt;
	}

	h1.TOC
	{
		margin-bottom: 12pt;
		margin-top: 24pt;
	}

	h2
	{
		font-size: 18pt;
		margin-bottom: 12pt;
		margin-top: 24pt;
	}

	h2.ImportantNotice
	{
		margin-bottom: 6pt;
		margin-top: 6pt;
	}

	h3
	{
		font-size: 16pt;
		margin-bottom: 6pt;
		margin-top: 18pt;
		mc-heading-level: 3;
	}

	h4
	{
		font-size: 14pt;
		margin-bottom: 6pt;
		margin-top: 18pt;
	}

	h5
	{
		font-size: 11pt;
		margin-bottom: 6pt;
		margin-top: 6pt;
	}

	h6
	{
		font-size: 11pt;
		letter-spacing: 1pt;
		margin-bottom: 6pt;
		margin-top: 6pt;
	}

	p
	{
		line-height: normal;
		margin-bottom: 6pt;
		margin-top: 0;
	}

	p.DocumentSubTitle
	{
		font-size: 14pt;
	}

	p.DocumentSubTitleNewPage
	{
		font-size: 14pt;
	}

	p.DocumentTitle
	{
		font-size: 26pt;
		font-weight: normal;
		letter-spacing: normal;
		margin-bottom: 60pt;
	}

	p.FootnoteText
	{
		font-size: 10pt;
	}

	p.MiniTOC2
	{
		color: #ff0000;
		display: none;
	}

	p.PageNumberFirst
	{
		font-size: 14pt;
	}

	p.PageNumberRight
	{
		font-size: 14pt;
	}

	p.TOC1
	{
		font-size: 13pt;
		margin-bottom: 0;
	}

	p.TOC2
	{
		margin-bottom: 0;
		margin-left: 14pt;
		margin-top: 3pt;
	}

	p.TOC3
	{
		margin-bottom: 0;
		margin-left: 28pt;
	}

	p.TOC4
	{
		font-size: 10pt;
		font-style: italic;
		line-height: normal;
		margin-bottom: 0;
		margin-left: 42pt;
	}

	p.TableFont
	{
		font-size: 10pt;
	}

	p.TableHeading
	{
		font-size: 10pt;
		margin-bottom: 3pt;
		margin-top: 3pt;
	}

	p.TableSideHeading
	{
		font-size: 10pt;
	}

	p.image_caption
	{
		margin-top: 12pt;
	}

	td
	{
		font-size: 10pt;
		margin-bottom: 6pt;
	}

	td.bold
	{
		margin-bottom: 6pt;
	}

	th
	{
		font-size: 10pt;
	}

	/* TableStyles overrides */

	.TableStyle-StandardTiny p,
	.TableStyle-StandardTiny p[class*="Table"],
	.TableStyle-StandardTiny ol,
	.TableStyle-StandardTiny ul
	{
		font-size: 8pt !important;
	}

	ol
	{
		margin-bottom: 3pt;
		margin-left: 1pt;
		margin-top: 3pt;
		padding-left: 8pt;
	}

	ol li
	{
		margin-bottom: 3pt;
		margin-left: 10pt;
		margin-top: 3pt;
		padding-left: 0pt;
	}

	li ol,
	li ul
	{
		margin-left: 0pt;
	}

	ul
	{
		margin-bottom: 3pt;
		margin-left: 4pt;
		margin-top: 3pt;
		padding-left: 0;
	}

	ul > li
	{
		margin-bottom: 3pt;
		margin-left: 2pt;
		margin-top: 3pt;
		padding-left: 17pt;
	}

	table ol li
	{
		margin-bottom: 1px;
		margin-top: 1px;
	}

	table p
	{
		font-size: 10pt;
		margin-bottom: 3pt;
		margin-top: 3pt;
	}

	/* Deprecated MEDIA PRINT Styles */

	p.Bullet
	{
		margin-bottom: 3pt;
		margin-left: 22pt;
		margin-top: inherit;
		mc-auto-number-offset: 18pt;
	}

	p.Bullet2
	{
		margin-bottom: 3pt;
		margin-left: 40pt;
		margin-top: inherit;
		mc-auto-number-offset: 18pt;
	}

	p.Bullet3
	{
		margin-bottom: 3pt;
		margin-left: 58pt;
		margin-top: inherit;
		mc-auto-number-offset: 18pt;
	}

	p.Bullet4
	{
		margin-bottom: 3pt;
		margin-left: 76pt;
		mc-auto-number-offset: 18pt;
	}

	p.ListContinue
	{
		margin-bottom: 3pt;
		margin-left: 18pt;
		margin-top: inherit;
	}

	p.ListContinue2
	{
		margin-bottom: 3pt;
		margin-left: 36pt;
		margin-top: inherit;
	}

	p.ListContinue3
	{
		margin-bottom: 3pt;
		margin-left: 54pt;
		margin-top: inherit;
	}

	p.ListContinue4
	{
		margin-bottom: 3pt;
		margin-left: 72pt;
		margin-top: inherit;
	}

	p.Note
	{
		font-size: 10pt;
		margin-left: 32.5pt;
		text-indent: -32.5pt;
	}

	p.Note1
	{
		font-size: 10pt;
		margin-left: 50.5pt;
		text-indent: -32.5pt;
	}

	p.Note2
	{
		font-size: 10pt;
		margin-left: 68.5pt;
		text-indent: -32.5pt;
	}

	p.Note3
	{
		font-size: 10pt;
		margin-left: 86.5pt;
		text-indent: -32.5pt;
	}

	p.NoteContinue
	{
		font-size: 10pt;
		margin-left: 32.5pt;
	}

	p.NoteContinue1
	{
		font-size: 10pt;
		margin-left: 50.5pt;
	}

	p.NoteContinue2
	{
		font-size: 10pt;
		margin-left: 68.5pt;
	}

	p.NoteContinue3
	{
		font-size: 10pt;
		margin-left: 86.5pt;
	}

	p.Notes
	{
		font-size: 10pt;
		margin-left: 38.5pt;
		text-indent: -38.5pt;
	}

	p.NotesContinue
	{
		font-size: 10pt;
		margin-left: 38.5pt;
	}

	p.ProcedureHeading
	{
		margin-left: 0;
		margin-top: 6pt;
	}

	div.ProcedureHeading {
		margin-bottom: 6pt;
		margin-top: 6pt;
	}

	p.ProcedureHeading2
	{
		margin-left: 18pt;
		margin-top: 6pt;
	}

	p.ProcedureHeading3
	{
		margin-left: 36pt;
		margin-top: 6pt;
	}

	p.Program
	{
		border-bottom-width: 1pt;
		border-left-width: 1pt;
		border-right-width: 1pt;
		border-top-width: 1pt;
		font-size: 10pt;
		padding: 4pt;
	}

	p.Program2
	{
		border-bottom-width: 1pt;
		border-left-width: 1pt;
		border-right-width: 1pt;
		border-top-width: 1pt;
		font-size: 10pt;
		margin-left: 18pt;
		padding: 4pt;
	}

	p.Program3
	{
		border-bottom-width: 1pt;
		border-left-width: 1pt;
		border-right-width: 1pt;
		border-top-width: 1pt;
		font-size: 10pt;
		margin-left: 36pt;
		padding: 4pt;
	}

	p.Steps,
	p.Steps_1
	{
		margin-bottom: 3pt;
		margin-left: 18pt;
		margin-top: 3pt;
		mc-auto-number-offset: 18pt;
	}

	p.Steps2,
	p.Steps2_1
	{
		margin-bottom: 3pt;
		margin-left: 36pt;
		margin-top: 3pt;
		mc-auto-number-offset: 18pt;
	}

	p.Steps3,
	p.Steps3_1
	{
		margin-bottom: 3pt;
		margin-left: 54pt;
		margin-top: 3pt;
		mc-auto-number-offset: 18pt;
	}

	p.Steps4,
	p.Steps4_1
	{
		margin-bottom: 3pt;
		margin-left: 72pt;
		margin-top: 3pt;
		mc-auto-number-offset: 18pt;
	}

	p.subheading
	{
		margin-top: 12pt;
	}

	p.TableSteps
	{
		font-size: 10pt;
		margin-bottom: 1pt;
		margin-left: 18pt;
		margin-top: 1pt;
		mc-auto-number-offset: 18pt;
	}

	p.TableSteps2,
	p.TableSteps2_1
	{
		font-size: 10pt;
		margin-bottom: 1pt;
		margin-left: 36pt;
		margin-top: 1pt;
		mc-auto-number-offset: 18pt;
	}

	p.TableSteps_1
	{
		font-size: 10pt;
		margin-bottom: 1pt;
		margin-left: 18pt;
		margin-top: 1pt;
	}

	p.TableText
	{
		font-size: 10pt;
		margin-bottom: 3pt;
		margin-top: 3pt;
	}

	p.TableTextBold
	{
		font-size: 10pt;
		margin-bottom: 3pt;
		margin-top: 3pt;
	}

	p.TableTextBullet
	{
		font-size: 10pt;
		margin-bottom: 3pt;
		margin-left: 18pt;
		margin-top: 3pt;
		mc-auto-number-offset: 18pt;
	}

	p.TableTextBullet2
	{
		font-size: 10pt;
		margin-bottom: 1pt;
		margin-left: 36pt;
		margin-top: 1pt;
		mc-auto-number-offset: 18pt;
	}

	p.TableTextBullet2Continue
	{
		font-size: 10pt;
		margin-bottom: 1pt;
		margin-left: 36pt;
		margin-top: 1pt;
	}

	p.TableTextBullet3
	{
		font-size: 10pt;
		margin-bottom: 1pt;
		margin-left: 54pt;
		margin-top: 1pt;
		mc-auto-number-offset: 18pt;
	}

	p.TableTextBullet3Continue
	{
		font-size: 10pt;
		margin-bottom: 1pt;
		margin-left: 54pt;
		margin-top: 1pt;
	}

	p.TableTextBullet4
	{
		font-size: 10pt;
		margin-bottom: 1pt;
		margin-left: 72pt;
		margin-top: 1pt;
		mc-auto-number-offset: 18pt;
	}

	p.TableTextBulletContinue
	{
		font-size: 10pt;
		margin-bottom: 1pt;
		margin-left: 18pt;
		margin-top: 1pt;
	}

	/* END OF: Deprecated MEDIA PRINT Styles */
}

@media japanese {
	/* Japenese notes */
	div.note:before {
		content: '注記';
	}
	div.important:before {
		content: 'Important';
	}
	div.tip:before {
		content: 'ヒント';
	}
	div.warning:before {
		content: '警告';
	}
	div.caution:before {
		content: '注意';
	}
	/* Japenese admons */
	.TableStyle-AdmonCaution > tbody > tr > td:nth-child(2):before {
		content: '注意';
	}
	.TableStyle-AdmonNote > tbody > tr > td:nth-child(2):before {
		content: '注記';
	}
	.TableStyle-AdmonTip > tbody > tr > td:nth-child(2):before {
		content: 'ヒント';
	}
	/* Japenese see also, next step */
	div.SeeAlso:before {
		content: '～もご覧ください';
	}
	div.NextStep:before {
		content: '次のステップ';
	}
}