/*<meta />*/

/* Version 4.0.2 */

/* Search unify */

.cc-inner.no-menu div#auto {
	margin-bottom: 20px;
}
.cc-theme-default.cc-home div#auto,
.cc-theme-default.cc-inner div#auto {
	order: 3;
	z-index: 999;
}
.cc-theme-default .su__form_height input {
	padding-left: 19px !important;
	height: 2.2em !important;
	background: #20303e;
	color: #ffffff !important;
}
.cc-theme-default .su__form_height input {
	padding-left: 19px !important;
	height: 2.2em !important;
	background: #20303e;
	color: #ffffff !important;
}
.cc-theme-default .su__form_height input::placeholder {
	color: #ffffff !important;
}
.cc-theme-default .su__search_btn .su__search-icons {
	fill: white;
}
.cc-theme-default section.su__w-100.su__py-4.su__px-sm-1.su__search_section.su__bg-blue-grd.ng-scope {
	padding-bottom: 0;
}
.cc-theme-default form#searchForm {
	padding: 0;
	width: 413px;
}
.cc-theme-default .su__container {
	padding: 0;
}
.cc-theme-default .md-virtual-repeat-container.md-autocomplete-suggestions-container.md-whiteframe-z1.md-orient-vertical {
	z-index: 999;
}
.cc-theme-default .title-bar-container.sticky-container {
	z-index: 888;
}
.cc-theme-default #md-auto {
	border-radius: 0px;
	border: solid 1px rgb(255, 255, 255, 0.2);
	background: #20303e;
}
#auto:focus-within input#autoCompleteId {
	background: white;
}
#auto:focus-within input#autoCompleteId {
	color: #333333 !important;
}
.cc-theme-default #md-auto:focus-within {
	background: white;
}
.cc-theme-default #auto:focus-within .su__search_btn .su__search-icons {
	fill: #0f2233;
}

/* Portal search unify */

.cc-portal .su__form_height input {
	padding-left: 19px !important;
	height: 2.2em !important;
	background: #20303e;
	color: #ffffff !important;
}
.cc-portal .su__form_height input::placeholder {
	color: #ffffff !important;
}
.cc-portal .su__search_btn .su__search-icons {
	fill: white;
}
.cc-portal section.su__w-100.su__py-4.su__px-sm-1.su__search_section.su__bg-blue-grd.ng-scope {
	padding-bottom: 0;
}
.cc-portal.cc-theme-default div#auto {
	padding-left: 118px;
	order: 2;
	padding-top: 0px;
	flex-grow: 1;
}
.cc-portal.cc-theme-default form#searchForm {
	width: auto;
}
.cc-portal .md-virtual-repeat-container.md-autocomplete-suggestions-container.md-whiteframe-z1.md-orient-vertical {
	z-index: 999;
}
.cc-portal .title-bar-container.sticky-container {
	z-index: 888;
}.cc-portal #md-auto {
	border-radius: 0px;
	border: solid 1px rgb(255, 255, 255, 0.2);
	background: none;
}

/* Star rating */

.su_feedback_form {
	flex-wrap: wrap;
}
.su_feedback_form .su__text-black {
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	flex-basis: 100%;
	color: #6C6E83;
}
span.su_thumb-yes {
	background-image: url('Images/Toolbar/ic_thumbs_up.svg');
	background-repeat: no-repeat;
	background-size: 22px 22px;
	background-position: 12px center;
}
span.su_thumb-no {
	background-image: url('Images/Toolbar/ic_thumbs_down.svg');
	background-repeat: no-repeat;
	background-size: 22px 22px;
	background-position: 12px center;
}
span.su_thumb-yes:before {
	display: inline-block;
	content: 'Yes';
	line-height: 21px;
}
span.su_thumb-no:before {
	display: inline-block;
	content: 'No';
	line-height: 21px;
}
.su_feedback_form>span {
	border-radius: 24px;
	border: 1px solid var(--Grays-CP2---Icons, #6C6E83);
	/* background: var(--Grays-CP6---White, #FFF); */
	width: 74px;
	text-align: right;
	height: 28px;
	padding: 2px 12px;
	color: #6C6E83;
	margin: 10px 12px 0px 0;
	cursor: pointer;
}
.su_feedback_form svg {
	display: none;
}
div#suPageRateApp {
	margin: 0;
	padding: 0;
}
.su__feedback-row.su__text-center.su__p-4 {
	max-width: 200px;
}
@media only screen and (max-width: 1350px) {
	/* Search unify for smaller screens 1 */
	.cc-theme-default form#searchForm {
		margin: auto;
	}
	.cc-theme-default form#searchForm {
		width: auto;
	}
}
@media only screen and (max-width: 1092px) {

	/* Search unify for smaller screens 2 */
	.cc-theme-default.cc-home .su__container {
		max-width: 650px;
	}
}
@media tablet {
	/* Search unify for tablet */
	.cc-theme-default div#auto {
		top: 40px;
		padding-top: 20px;
	}
	.cc-portal .off-canvas-content .title-bar-container.sticky-container {
		min-height: 65px !important;
		height: auto !important;
	}
	.cc-theme-default.cc-inner div#auto {
		padding-top: 0px;
		margin-right: 44px;
	}
	.cc-theme-default.cc-home div#auto {
		padding-top: 0px;
	}
	/* Portal search unify for tablet */
	.cc-portal form#searchForm {
		margin: auto;
	}
	.cc-portal .su__container {
		padding-bottom: 0px;
	}
	.cc-portal form#searchForm {
		width: auto;
	}
	.cc-portal.cc-theme-default div#auto {
		padding-left: 0;
		padding-right: 30px;
		max-width: 400px;
	}
}
@media mobile {
	/* Search unify for mobile */
	.cc-theme-default.cc-home div#auto,
	.cc-theme-default.cc-inner div#auto {
		z-index: 1002;
		margin-right: 44px;
		margin-right: 0;
		width: 70%;
		max-width: calc(100% - 115px);
	}
	.cc-theme-default div#auto {
		top: 107px;
		position: absolute;
		right: 0;
		border-left: solid 1px #c2c1c1;
	}
	.cc-portal.cc-theme-default div#auto {
		padding-right: 10px;
		top: 0;
	}
	#searchForm {
		padding-top: 30px;
	}
	#searchForm {
		padding-top: 30px;
	}
	.cc-theme-default .su__bg-blue-grd {
		background: white !important;
	}
	.cc-theme-default md-autocomplete {
		height: 40px !important;
	}
	.cc-theme-default .su__form_height input {
		background: white;
		margin-top: 1px;
		font-family: 'Open Sans';
		font-size: 16px !important;
	}
	.cc-theme-default .su__form_height input::placeholder {
		color: black !important;
	}
	.cc-theme-default .su__search_btn .su__search-icons {
		fill: #0f2233;
	}
	.cc-theme-default #md-auto {
		background: white;
	}
}