/*<meta />*/

/* Version 4.0.2 */

/* Conjur */

/* TO UPDATE AND MOVE */

/* Conjur search */
.cc-theme-conjur .rg-search {
	display: block;
}
/* Conjur logo size */
.cc-theme-conjur .title-bar-layout .logo-wrapper a.logo {
	width: 350px;
}
/* Conjur version and header menu container */
.cc-theme-conjur .title-bar-layout .rg-version {
	display: none;
	left: 305px;
}.cc-theme-conjur .rg-version .version-control {
	font-size: 24px;
	margin-left: 22px;
	top: 8px;
}.cc-theme-conjur .version-control {
	visibility: hidden;
}.cc-theme-conjur .rg-version .header-title {
	display: none;
}
/* Conjur main menu */
.cc-theme-conjur.show .cc-main-menu ul li.selected {
	background: transparent;
}.cc-theme-conjur.show .cc-main-menu ul li:hover > a {
	color: #4d8fcc;
	text-decoration: none;
}.cc-theme-conjur.show .cc-main-menu > ul > li:first-child:hover > a::after,
.cc-theme-conjur.show .cc-main-menu > ul > li:hover > a::after {
	background-image: url('Images/Content/ic_down_arrow_conjurblue.svg');
}.cc-theme-conjur.show .cc-main-menu ul ul li:hover {
	background-color: transparent;
}.cc-theme-conjur.show .cc-main-menu > ul li > ul {
	left: 0;
	right: auto;
}.cc-theme-conjur.show .title-bar .cc-main-menu > ul > li > a,
.cc-theme-conjur.show .title-bar .cc-main-menu > ul > li > a:hover,
.cc-theme-conjur.show .title-bar .cc-main-menu > ul > li > a:link,
.cc-theme-conjur.show .title-bar .cc-main-menu > ul > li > a:visited {
	font-size: 20px;
}.cc-theme-conjur.show .cc-main-menu > ul li a,
.cc-theme-conjur.show .cc-main-menu > ul li a:hover,
.cc-theme-conjur.show .cc-main-menu > ul li a:link,
.cc-theme-conjur.show .cc-main-menu > ul li a:visited {
	font-size: 18px;
	line-height: 18px;
}
/* Conjur footer */
.cc-theme-conjur .rg-footer .social {
	display: none;
}.cc-theme-conjur .rg-footer {
	background: #112233;
}