/*<meta />*/

/* Version 4.0.2 */

/* Hiding in topic header title and subtitle label for tablet and mobile */

/* Topic header bar */
.topic-header-bar {
	width: 100%;
	background: white;
    padding-bottom: 34px;
    padding-top: 34px;
	margin-bottom: 0px;
	margin-top: 0;
	padding-right: 2.5%;
}
.topic-header-bar > div:nth-of-type(1) {
	padding-left: 2.5%;
	width: calc(100% - 470px);
	display: inline-block;
}
.topic-header-bar > div:nth-of-type(1) > div {
	color: #333333;
	font-size: .825rem;
	margin-left: 11px;
	max-width: 80%;
	padding: 0;
	margin: 0;
}
.topic-header-bar > div:nth-of-type(2) {
	display: inline-block;
	width: 460px;
}
/* Breadcrumbs */
.breadcrumbs a:visited {
	color: #4d84b8;
}
.MCBreadcrumbsPrefix {
	display: inline-block;
	min-width: 35px;
	width: auto;
}
/* .MCBreadcrumbsPrefix:before {
	content: 'Home';
} */
/* Toolbar */
.topicToolbarProxy .button {
	margin: 0px 7px;
	font-family: 'Open Sans', Arial, Verdana, 'sans-serif';
	background-repeat: no-repeat!important;
}
._Skins_cc_TopNavToolbar.mc-component .button > div {
	display: none;
}
._Skins_cc_TopNavToolbar.mc-component .button.next-topic-button span,
._Skins_cc_TopNavToolbar.mc-component .button.previous-topic-button span {
	display: none;
}
._Skins_cc_TopNavToolbar.mc-component .button.previous-topic-button {
	background-image: url('Images/Toolbar/ic_previous.svg');
	padding-left: 20px;
	margin: 0;
	background-position: 6px center;
	background-repeat: no-repeat;
	padding-right: 6px;
	width: 55px;
}
._Skins_cc_TopNavToolbar.mc-component .button.next-topic-button {
	background-image: url('Images/Toolbar/ic_next.svg');
	width: 55px;
	margin: 0;
	position: relative;
	background-repeat: no-repeat;
	padding-right: 0;
	background-position: right center;
}
._Skins_cc_TopNavToolbar.mc-component .button.previous-topic-button::before {
	content: "Previous";
}
._Skins_cc_TopNavToolbar.mc-component .button.next-topic-button::after {
	content: "Next";
	padding-left: 0px;
	top: 0;
	right: 16px;
	position: absolute;
}
._Skins_cc_TopNavToolbar.mc-component .button:focus,
._Skins_cc_TopNavToolbar.mc-component .button:focus span {
	outline: none;
	color: #047AD4;
}
._Skins_cc_TopNavToolbar.mc-component .button.previous-topic-button:hover {
	background-image: url('Images/Toolbar/ic_previous_hover.svg');
}
._Skins_cc_TopNavToolbar.mc-component .button.previous-topic-button:active {
	background-image: url('Images/Toolbar/ic_previous_pressed.svg');
}
._Skins_cc_TopNavToolbar.mc-component .button.next-topic-button:hover {
	background-image: url('Images/Toolbar/ic_next_hover.svg');
}
._Skins_cc_TopNavToolbar.mc-component .button.next-topic-button:active {
	background-image: url('Images/Toolbar/ic_next_pressed.svg');
}
._Skins_cc_TopNavToolbar.mc-component .button::after {
	position: absolute;
	padding-left: 27px;
}
._Skins_cc_TopNavToolbar.mc-component .button.expand-all-button {
	background-image: url('Images/Toolbar/ic_expand_all.svg');
	margin-right: 79px;
	margin-left: 4px;
}
._Skins_cc_TopNavToolbar.mc-component .button.expand-all-button:active {
	background-image: url('Images/Toolbar/ic_expand_all_pressed.svg');
}
._Skins_cc_TopNavToolbar.mc-component .button.expand-all-button:hover {
	background-image: url('Images/Toolbar/ic_expand_all_hover.svg');
}
._Skins_cc_TopNavToolbar.mc-component .button.expand-all-button::after {
	content: "Expand all";
}
._Skins_cc_TopNavToolbar.mc-component .button.collapse-all-button {
	background-image: url('Images/Toolbar/ic_collapse_all.svg');
	margin-right: 79px;
	margin-left: 4px;
}
._Skins_cc_TopNavToolbar.mc-component .button.collapse-all-button:active {
	background-image: url('Images/Toolbar/ic_collapse_all_pressed.svg');
}
._Skins_cc_TopNavToolbar.mc-component .button.collapse-all-button:hover {
	background-image: url('Images/Toolbar/ic_collapse_all_hover.svg');
}
._Skins_cc_TopNavToolbar.mc-component .button.collapse-all-button::after {
	content: 'Collapse all';
}
._Skins_cc_TopNavToolbar.mc-component .button.remove-highlight-button {
	background-image: url('Images/Toolbar/ic_remove_highlights.svg');
	margin-right: 72px;
}
._Skins_cc_TopNavToolbar.mc-component .button.remove-highlight-button::after {
	content: "Highlights";
}
._Skins_cc_TopNavToolbar.mc-component .button.remove-highlight-button:active {
	background-image: url('Images/Toolbar/ic_remove_highlights_pressed.svg');
}
._Skins_cc_TopNavToolbar.mc-component .button.remove-highlight-button:hover {
	background-image: url('Images/Toolbar/ic_remove_highlights_hover.svg');
}
._Skins_cc_TopNavToolbar.mc-component .button.print-button {
	background-image: url('Images/Toolbar/ic_print.svg');
	margin-right: 43px;
	margin-left: 8px;
}
._Skins_cc_TopNavToolbar.mc-component .button.print-button::after {
	content: "Print";
}
._Skins_cc_TopNavToolbar.mc-component .button.print-button:active {
	background-image: url('Images/Toolbar/ic_print_pressed.svg');
}
._Skins_cc_TopNavToolbar.mc-component .button.print-button:hover {
	background-image: url('Images/Toolbar/ic_print_hover.svg');
}
._Skins_cc_TopNavToolbar.mc-component .button.share-button {
	background-image: url('Images/Toolbar/ic_share.svg');
	margin-right: 44px;
	margin-left: 0px;
	background-size: 20px;
}
._Skins_cc_TopNavToolbar.mc-component .button.share-button::after {
	content: "Share";
}
._Skins_cc_TopNavToolbar.mc-component .button.share-button:active {
	background-image: url('Images/Toolbar/ic_share_pressed.svg');
}
._Skins_cc_TopNavToolbar.mc-component .button.share-button:hover {
	background-image: url('Images/Toolbar/ic_share_hover.svg');
}
div#share-dropdown {
	display: none;
    position: absolute;
    background: white;
    top: 26px;
    border: 1px solid #E0E7F5;
    padding: 8px 16px;
    width: 180px;
    left: 0;
    box-shadow: 0px 0px 10px 0px #6C6E8340;
}
button.share-button {
    position: relative;
    overflow: visible!important;
}
#share-dropdown a {
    display: block;
    text-decoration: none;
    color: #2F3564;
    text-align: left;
    padding: 4px 0px;
}
@media tablet {
	/* Hiding tablet topic header */
	.cc-inner .topic-header-bar {
		margin-top: 80px;
	}
	.cc-inner .topic-header-bar > div:nth-of-type(1) {
		width: 100%;
	}
	.topic-header-bar > div:nth-of-type(1) > div {
		max-width: 100%;
	}
	
	/* Hiding toolbar for tablet */
	.cc-inner .buttons._Skins_cc_TopNavToolbar.mc-component {
		display: none;
	}
	/* Home page topic header for tablet */
	.show.cc-home .row.collapse .rg-version {
		display: block;
		padding-top: 30px;
		padding-bottom: 30px;
		text-align: center;
	}
}

@media mobile {
	/* Topic header bar for mobile */
	.cc-inner .topic-header-bar {
		display: none;
		height: 0px;
		margin: 14px -7px 0px 0px;
	}
	.cc-inner .topic-header-bar > div,
	.topic-header-bar > .buttons button {
		display: none;
	}
	.search-highlight .topic-header-bar,
	.cc-inner.search-highlight .topic-header-bar > div,
	.search-highlight .topic-header-bar > .buttons button.remove-highlight-button {
		display: block;
	}
	.search-highlight .topic-header-bar > .buttons {
		margin-right: 5px;
	}
	/* Toolbar for mobile */
	.button-group-container-left {
		float: right;
	}
}

@media japanese {
	/* Japanese braedcrumb  */
	.MCBreadcrumbsPrefix {
		min-width: 40px;
		width: auto;
	}
	/* .MCBreadcrumbsPrefix:before {
		content: 'ホーム';
	} */
	/* Japenese toolbar */
	.topic-header-bar > div:nth-of-type(1) {
		width: calc(100% - 480px);
	}
	.topic-header-bar > div:nth-of-type(2) {
		width: 480px;
	}
	._Skins_cc_TopNavToolbar.mc-component .button.previous-topic-button {
		width: 45px;
	}
	._Skins_cc_TopNavToolbar.mc-component .button.previous-topic-button::before {
		content: "前へ";
	}
	._Skins_cc_TopNavToolbar.mc-component .button.next-topic-button::after {
		content: "次へ";
	}
	._Skins_cc_TopNavToolbar.mc-component .button::after {
		padding-left: 28px;
	}
	._Skins_cc_TopNavToolbar.mc-component .button.expand-all-button {
		margin-right: 85px;
		margin-left: 3px;
		width: 45px;
	}
	._Skins_cc_TopNavToolbar.mc-component .button.expand-all-button::after {
		content: "すべてを開く";		
	}
	._Skins_cc_TopNavToolbar.mc-component .button.collapse-all-button {
		margin-right: 102px;
		margin-left: 3px;
		width: 28px;
	}
	._Skins_cc_TopNavToolbar.mc-component .button.collapse-all-button::after {
		content: 'すべてを閉じる';
	}
	._Skins_cc_TopNavToolbar.mc-component .button.remove-highlight-button {
		margin-right: 83px;
	}
	._Skins_cc_TopNavToolbar.mc-component .button.remove-highlight-button::after {
		content: "ハイライト"; 
	}
	._Skins_cc_TopNavToolbar.mc-component .button.print-button::after
	{
		content: "印刷";
	}
}