/*<meta />*/

/* Feedback bar */

div#feedback-button a, div#feedback-button a:hover {
	font-size: 14px;
	font-weight: 600;
	color: #1362CB;
	cursor: pointer;
	text-decoration: none;
	margin-left: 0px;
	padding-left: 20px;
	position: relative;
	padding-bottom: 10px;
}

div#feedback-button a:before {
	content: url('Images/Menus/ic-feedback.svg');
	position: absolute;
	left: 0;
	top: 2px;
	display: inline-block;
	width: 14px;
	height: 14px;
}

#feedback-form {
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	flex-basis: 100%;
	color: #6C6E83;
	margin-left: 10px;
}

#feedback-form p {
    margin: 10px 0 0 0;
}

.feedback-q {
    display: block;
  }
  .feedback-a {
    display: none;
  }

span#thumb-yes {
	background-image: url('Images/Toolbar/ic_thumbs_up.svg');
	background-repeat: no-repeat;
	background-size: 22px 22px;
	background-position: 12px center;
}
span#thumb-no {
	background-image: url('Images/Toolbar/ic_thumbs_down.svg');
	background-repeat: no-repeat;
	background-size: 22px 22px;
	background-position: 12px center;
}
span#thumb-yes:before {
	display: inline-block;
	content: 'Yes';
	line-height: 21px;
}
span#thumb-no:before {
	display: inline-block;
	content: 'No';
	line-height: 21px;
}
#feedback-form span {
	border-radius: 24px;
	cursor: pointer;
	border: 1px solid #6C6E83;
	width: 74px;
	text-align: right;
	display: inline-block;
	height: 28px;
	padding: 2px 12px;
	color: #6C6E83;
	margin: 2px 12px 0px 0;
}