/*<meta />*/

/* Version 4.0.2 */
/* Importing other style sheets */

@import url('cc_topnav_content.css') screen;

@import url('cc_topnav_feedback.css') screen;

@import url('cc_topnav_footer.css') screen;

@import url('cc_topnav_header.css') screen;

@import url('cc_topnav_headings_menu.css') screen;

@import url('cc_topnav_highlights.css') screen;

@import url('cc_topnav_menus.css') screen;

@import url('cc_topnav_searchbar.css') screen;

@import url('cc_topnav_searchunify.css') screen;

@import url('cc_topnav_tabs.css') screen;

@import url('cc_topnav_theme.css') screen;

@import url('cc_topnav_home.css') screen;

@import url('cc_topnav_topic_header.css') screen;

@import url('cc_topnav_updates.css') screen;

@font-face 
{
	font-family: Rubik;
	src: url('Fonts/Rubik.ttf');
}

/* General page layout */

/* .body-container {
	scroll-padding-top: 165px;
} */

body
{
	display: none;
}

html,
body
{
	overflow: hidden;
}

body.show
{
	display: block;
}

.off-canvas-wrapper
{
	height: auto;
}

.off-canvas-content
{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.off-canvas-content p
{
	line-height: 1.8rem;
}

.main-section
{
	flex: 1 1 100vh;
	-ms-flex: none;
}

.row.outer-row.sidenav-layout
{
	max-height: calc(100vh - 150px);
	position: relative;
}

.show.cc-home .row.outer-row.sidenav-layout
{
	max-height: calc(100vh - 80px);
}

.cc-redirect .rg-footer
{
	display: none;
}

.redirect-banner
{
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	padding-top: 20pt;
}

/* Inner page */
/* Loading circle */

.cc-inner.web:after
{
	background: transparent url('Images/ic_loading.gif') no-repeat;
	color: #333333;
	content: '';
	display: block;
	height: 50px;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 80px;
}

.cc-inner.loaded:after
{
	display: none;
}

.cc-inner .main-section
{
	overflow: visible;
	/* visibility: hidden; */
	margin-top: 32px;
}

.main-section > .row
{
	padding-bottom: 0px;
	padding-top: 0px;
}

/* 2-column layout */

div.ContentRow
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
}

div.ContentRow::before
{
	content: ' ';
	display: table;
}

div.ContentRow::after
{
	clear: both;
	content: ' ';
	display: table;
}

div.ContentRow > div
{
	box-sizing: border-box;
	display: table-cell;
	-moz-box-sizing: border-box;
}

/* Left column */

/* div.ContentRow > div.col1 {
	border-right: solid 1px #dddddd;
	margin-left: 0%;
	min-height: calc(100vh - 125px);
	overflow: hidden;
	width: 250px;
} */

/* Right column */

div.ContentRow > div.col2
{
	padding: 0px;
	padding-left: 50px;
}

/* Left align layout*/

.cc-left-align .navigation-wrapper ul.navigation
{
	margin: 0;
	max-width: none;
}

.cc-left-align div.ContentRow
{
	display: flex;
	margin: 0px;
	position: relative;
}

.cc-left-align div.ContentRow > div
{
	display: block;
}

/* .cc-left-align div.ContentRow > div.col1 {
	flex: 0 0 20%;
	min-width: 360px;
	width: auto;
} */

.cc-left-align div.ContentRow > div.col2
{
	display: flex;
	flex: 1 1;
	max-width: 100%;
}

.cc-left-align div.ContentRow > div.col2 .col2-content {
	flex: 1 1;
	margin-right: .5rem;
	max-width: calc(100% - 50px);
	padding-bottom: 14px;
	padding-top: 10px;
	padding-right: 295px;
}

.cc-left-align div.ContentRow > div.col2 .col2-right
{
	min-width: 0px;
}

/* Home page layout */

.cc-home .main-section
{
	flex: 1 1;
	-ms-flex: 1 1 auto;
	position: relative;
	top: 26px;
}

.cc-home .main-section > .row
{
	max-width: 100%;
}

.cc-home.show .main-section
{
	flex: unset;
	overflow: auto;
}

body.cc-theme-default.cc-left-align.cc-home .off-canvas-content .title-bar-layout.outer-row
{
	/* max-width: 1400px; */
	justify-content: flex-start;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.cc-home.show .height-container-sidenav
{
	min-height: calc(100vh - 525px) !important;
}

.cc-inner.show div.content
{
	padding-left: calc(410px + 4.5%);
}
body.cc-inner.no-menu.show div.content {
    padding-right: 20px;
}
/* Search page */

.rg-search-about
{
	color: #047ad4;
	font-size: 16px;
	margin-bottom: 34px;
	margin-top: 14px;
	font-family: 'Open Sans Regular', sans-serif;
	text-decoration: underline;
}

#resultList > li
{
	background: none;
	border-bottom: solid 1px #dddddd;
	margin-bottom: 20px;
	padding-left: 0px;
}

#resultList h3.title a:link,
#resultList h3.title a:visited
{
	color: #047ad4;
	text-decoration: none;
}

#resultList .description
{
	line-height: 28px;
	margin-top: 14px;
}

#resultList .url
{
	margin-bottom: 20px;
	margin-top: 10px;
}

/* Micro content */

.micro-content h1
{
	font-size: 18px !important;
	font-family: 'Open Sans Semibold';
}

/* 404 page */

div.redirect-banner a
{
	background-color: #1462cb;
	border-radius: 20px;
	display: inline-block;
	color: white !important;
	text-decoration: none !important;
	cursor: pointer;
	padding: 5px 30px;
	margin: 0 10px;
}

.cc-home .content-404
{
	margin: 40px auto 0px auto;
	width: 80%;
}

.cc-home .content-404 p:first-child
{
	color: #5b8fc7;
	text-align: center;
	font-family: 'RopaSansPTT-Regular';
	font-size: 150px;
	line-height: 1em;
	margin: 0;
}

.cc-home .content-404 p
{
	color: #aeb2bd;
	text-align: center;
	font-family: 'RopaSansPTT-Regular';
	font-size: 30px;
	line-height: 1.2em;
	margin: 0;
}

.cc-home .button-404
{
	background-color: #3165bd;
	border-radius: 2px;
	display: block;
	height: 34px;
	margin: 50px auto;
	position: relative;
	text-align: center;
	width: 155px;
}

.cc-home .button-404 a
{
	color: white;
	font-size: 14px;
	line-height: 34px;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

.content-404 img
{
	margin: 0;
}

.show.cc-home .content-404 .rg-search
{
	max-width: 500px;
	margin: 20px auto 20px auto;
}

.show.cc-home .content-404 .rg-search .nav-search
{
	margin: auto;
}

/* Fixes for Flare 2019r2 */

.main-section
{
	min-height: auto !important;
}

img.invisible-label
{
	opacity: 0;
}

/* Sidenav fix */

.body-container
{
	padding-top: 0em !important;
	padding-left: 0em !important;
	padding-right: 0em !important;
}

.cc-home .body-container
{
	overflow: visible;
}

.cc-inner .body-container
{
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	max-width: 100%;
	overflow-x: hidden;
}

.col2-content table
{
	max-width: 100%;
}

/* .cc-theme-default md-autocomplete .md-show-clear-button button
{
	opacity: 0 !important;
} */

/* Swagger */

.swagger-link,
.swagger-container span.url,
.swagger-container p#swagger-desc {
	display: none;
}

.swagger-ui li {
	background: none !important;
}

.swagger-ui .model p,
.swagger-ui .model li,
.swagger-ui .description > * {
	font-family: sans-serif!important;
	font-weight:normal!important;
	font-size: 14px;
}

@media only screen and (max-width: 1350px)
{
	.show form#searchForm
	{
		margin: auto;
	}

	.show form#searchForm
	{
		width: auto;
	}

	.show.cc-home form#searchForm
	{
		width: 100%;
		margin-right: 0;
	}
}

@media only screen and (min-width: 992px)
{
	/* Page layout size for smaller screens */

	body.cc-left-align .off-canvas-content .outer-row,
	body.cc-left-align .navigation-wrapper ul.navigation
	{
		margin: 0 auto;
	}
}

@media only screen and (min-width: 1440px)
{
	body .off-canvas-content .outer-row
	{
		margin: auto;
	}
}

@media tablet
{
	/* Tablet page layout */

	.cc-inner .main-section
	{
		position: relative;
		margin-top: 60px;
	}

	.cc-home.show .main-section
	{
		flex: unset;
		height: calc(100vh - 149px);
		top: 0px;
		margin-top: 0;
	}

	.cc-home.show .outer-row.sidenav-layout
	{
		padding: 0px;
	}

	.show.cc-home .rg-search
	{
		padding-top: 30px;
	}

	.cc-home.show .home-page-product
	{
		padding-top: 0;
		padding-bottom: 20px;
	}

	.cc-home .body-container
	{
		padding-top: 28px !important;
	}

	.cc-inner.show div.content
	{
		padding-left: 2.5%;
	}

	.cc-inner .body-container
	{
		overflow-y: auto;
		overflow-x: hidden;
		margin-right: 0;
	}

	.cc-left-align div.ContentRow > div.col2 .col2-content
	{
		padding-right: 0;
	}

	/* Left column for tablet */

	/* .cc-inner div.ContentRow > div.col1 {
			display: none;
		} */

	/* Right column for tablet */

	div.ContentRow > div.col2
	{
		padding: 0 8px !important;
	}

	.cc-inner div.ContentRow > div.col2
	{
		margin-left: 0%;
		max-width: none !important;
	}

	.col2-right,
	.cc-headings-menu
	{
		display: none;
	}
}

@media mobile
{
	/* Page layout for mobile */

	.row.outer-row.sidenav-layout
	{
		max-height: calc(100vh - 60px);
	}

	/* Left column for mobile */

	/* .cc-inner div.ContentRow > div.col1 {
		margin-left: 0%;
		width: 100%;
	} */

	.cc-inner .main-section
	{
		margin-top: 0;
	}

	/* Right column for mobile */

	div.ContentRow > div.col2
	{
		padding-left: 0;
	}

	.cc-inner div.ContentRow > div.col2
	{
		margin-left: 0%;
		width: 100%;
		max-width: 94vw;
	}

	.cc-left-align .main-section .body-container div.ContentRow > div.col2 .col2-content
	{
		max-width: 100%;
	}

	.search-highlight .ContentRow .col2 :first-child
	{
		margin-top: 0px;
	}

	.col2-right,
	.cc-headings-menu
	{
		display: none;
	}

	/* 404 page layout for mobile */

	.cc-home .content-404
	{
		width: 100%;
	}
}

@media print
{
	.rg-footer
	{
		display: none !important;
	}

	.body-container,
	.content,
	.col2-content,
	.cc-inner .main-section,
	.col-2,
	#mc-main-content
	{
		padding: 0 !important;
		margin: 0 !important;
	}

	.col2-right,
	.cc-anchor-link,
	.clipboard-button
	{
		display: none !important;
	}

	.row.outer-row.sidenav-layout,
	.body-container
	{
		position: RELATIVE !important;
		MAX-HEIGHT: 999999999999999PX;
	}

	h1
	{
		margin: 40pt 0 20pt 0 !important;
	}

	p,
	li
	{
		line-height: 1.5 !important;
	}

	.dropDownBody
	{
		display: block !important;
	}
}

@page 
{
	margin: 2cm 1cm 2cm 1cm;
}
