/*<meta />*/

/* Version 4.0.2 */

/* Headings menu styles */
.cc-inner .cc-headings-menu {
	margin-top: -80px;
	height: unset;
}
.cc-headings-menu .button-group-container-left {
	float: right;
	margin-left: -40px;
}
.cc-headings-menu .buttons._Skins_cc_TopNavToolbar.mc-component {
	margin-top: 26px;
	margin-bottom: 26px;
	margin-left: -240px;
}
.cc-headings-menu .buttons._Skins_cc_TopNavToolbar.mc-component .button.previous-topic-button {
	margin-right: 11px;
	margin-left: 24px;
}
.cc-headings-menu .buttons._Skins_cc_TopNavToolbar.mc-component .button.next-topic-button {
	margin-left: 10px;
}
.cc-headings-menu ul.menu._Skins_cc_TopNavHeadingsMenu.mc-component {
	margin-left: auto;
}
.cc-headings-menu .cc-headings-menu-title,
.cc-inline-headings-menu .cc-headings-menu-title {
	color: #000000;
	font-weight: 700;
	margin: 0px;
}
.cc-headings-menu ul.menu._Skins_cc_TopNavHeadingsMenu.mc-component > p {
    padding-top: 2px;
}
.cc-headings-menu .menu > p,
.cc-inline-headings-menu .menu > p {
	font-size: 16px;
    font-family: 'Open Sans Semibold';
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 16px;
    color: #000000;
    line-height: 14px;
}
.cc-headings-menu .menu > li > a {
	display: none;
}
.cc-headings-menu .menu ul ul:not(.selected-child-menu) {
	display: none;
}
.cc-headings-menu .menu ul ul.selected-sibling-menu {
	display: list-item;
}
.cc-headings-menu li,
.cc-inline-headings-menu li {
	background: none;
}
.cc-headings-menu > ul.menu a {
    border-left: 2px solid transparent;
}
.cc-headings-menu a {
	line-height: normal;
}
.cc-headings-menu ul.menu._Skins_cc_TopNavHeadingsMenu.mc-component ul li a:hover {
	color: #3165bd;
}
.cc-headings-menu {
	position: fixed;
	top: 271px;
	right: 16px;
	border-left: solid 1px #dddddd;
	max-width: 250px;
	min-width: 250px;
	overflow: auto;
	padding-left: 20px;
	padding-right: 0;
	max-height: calc(100vh - 110px);
	background: white;
	min-height: calc(100vh - 165px);
	border-right: solid white 22px;
}
.cc-headings-menu ul.menu._Skins_cc_TopNavHeadingsMenu.mc-component .selected a, 
.cc-headings-menu ul.menu._Skins_cc_TopNavHeadingsMenu.mc-component .selected-child a.selected, 
.cc-headings-menu ul.menu._Skins_cc_TopNavHeadingsMenu.mc-component .selected-child-parent a, 
.cc-headings-menu ul.menu._Skins_cc_TopNavHeadingsMenu.mc-component a.selected-child
{
	border-left-color: #3165bd !important;
}
.cc-headings-menu ul.menu._Skins_cc_TopNavHeadingsMenu.mc-component .selected-child a.selected, 
.cc-headings-menu ul.menu._Skins_cc_TopNavHeadingsMenu.mc-component a.selected-child
{
	color: #3165bd;
	font-family: 'Open Sans Semibold';
}
.cc-headings-menu ul.menu._Skins_HTML5___Side_Menu.mc-component {
	width: auto;
}
.cc-headings-menu ul li.is-accordion-submenu-parent:not([aria-expanded]) > a span.submenu-toggle,
.cc-headings-menu ul li.is-accordion-submenu-parent[aria-expanded="false"] > a span.submenu-toggle {
	border-left-color: #000000;
	border-left-width: 5px;
	border-bottom-width: 5px;
	border-top-color: transparent;
}
.cc-headings-menu ul li.is-accordion-submenu-parent[aria-expanded="true"] > a span.submenu-toggle {
	border-top-color: transparent;
	border-bottom-color: #000000;
	border-bottom-width: 5px;
}
/* Back to top button */
a.BackToTop,
a.BackToTop:active,
a.BackToTop:focus,
a.BackToTop:hover,
a.BackToTop:link,
a.BackToTop:visited {
	bottom: 30px;
	color: #005DAC;
	position: fixed;
	right: 30px;
	text-decoration: none;
}
a.BackToTop:hover:before {
	background: transparent url('Images/Navigation/ic_back_to_top_hover.png') no-repeat;
}
a.BackToTop:active:before {
	background: transparent url('Images/Navigation/ic_back_to_top_pressed.png') no-repeat;
}
a.BackToTop:before {
	background: transparent url('Images/Navigation/ic_back_to_top.png') no-repeat;
	content: '';
	display: block;
	height: 42px;
	width: 42px;
}
.cc-headings-menu ul.menu._Skins_cc_TopNavHeadingsMenu.mc-component a.BackToTop {
	color: #333333;
	display: none;
	margin-top: 1rem;
	position: static;
	cursor: pointer;
} 
.cc-headings-menu ul.menu._Skins_cc_TopNavHeadingsMenu.mc-component a.BackToTop.show
{
	display: block;
}
.cc-headings-menu a.BackToTop:hover {
	color: #3165bd;
}
.cc-headings-menu ul.menu._Skins_cc_TopNavHeadingsMenu.mc-component a.BackToTop:hover {
	background: transparent;
	color: #047ad4;
}
.cc-headings-menu a.BackToTop:before {
	background-size: 16px;
	display: inline-block;
	height: 16px;
	margin-right: .5rem;
	vertical-align: bottom;
	width: 16px;
}
/* Inline headings menu */
.cc-inline-headings-menu {
	display: none;
}
.cc-inline-headings-menu a.BackToTop {
	display: none;
}
/* In page navigation TO UPDATE OR DELETE */
.ipn-wrapper
{ display: none;
}
/*
.ipn-wrapper.show
{ display: block;
}
.ipn-items {
	position: fixed;
	right: 45px;
	top: 50%;
	transform: translateY(-50%);
}
.ipn-items li {
	background: none;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	text-align: right;
}
.ipn-items li a,
.ipn-items li a:link,
.ipn-items li a:visited {
	color: #3165bd;
	font-family: 'Open Sans', Arial, Verdana, 'sans-serif';
	font-size: 16px;
	text-decoration: none;
}
.ipn-items li a:hover,
.ipn-items li a:link:hover {
	background: #fff;
	border-radius: 5px;
	padding: 6px 0px 5px 8px;
}
.ipn-items li a:hover:after {
	background-image: url('Images/Navigation/ic_inpage_nav_hover.png');
}
.ipn-items li a:active:after {
	background-image: url('Images/Navigation/ic_inpage_nav_pressed.png');
}
.ipn-items li a span {
	display: inline-block;
	visibility: hidden;
}
.ipn-items li a:hover span {
	height: 17px;
	line-height: 15px;
	max-width: 200px;
	overflow: hidden;
	padding-right: 16px;
	text-overflow: ellipsis;
	visibility: visible;
	white-space: nowrap;
}
.ipn-items li a:after {
	background: transparent url('Images/Navigation/ic_inpage_nav.png') no-repeat center;
	content: '';
	display: inline-block;
	height: 12px;
	width: 12px;
}
*/

@media tablet {
	/* Inline headings menu for tablet */
	.cc-inline-headings-menu {
		display: block;
	}
	.cc-headings-menu .menu > p,
	.cc-inline-headings-menu .menu > p {
		font-family: 'Open Sans';
	}
	ul.menu._Skins_cc_TopNavHeadingsMenu.mc-component ul li {
		margin-left: 16px;
		list-style: disc;
	}
	ul.menu._Skins_cc_TopNavHeadingsMenu.mc-component ul li a {
		color: #047ad4;
		font-size: 14px;
		padding-left: 0;
		line-height: 28px;
	}
}

@media mobile {
	/* In page navigation for mobile TO UPDATE OR DELETE */
	/* .main-section .ipn-wrapper.show {
		display: none;
	} */
	.cc-inline-headings-menu {
		display: block;
	}
}