
/* Version 4.0.2 */
/* Header bar */

nav.title-bar {
	background-color: white;
	margin-bottom: 0px;
	position: fixed;
	width: 100% !important;
	max-width: 100% !important;
	z-index: 200;
	padding-bottom: 0px;
}

body.cc-left-align .off-canvas-content .title-bar .outer-row {
	padding: 28px 2.5% 28px 2.5%;
	max-width: 100%;
}

body.cc-left-align .off-canvas-content .title-bar-section.outer-row {
	background-color: #0f2233;
}

/* Header content container */

.title-bar-layout {
	max-width: 76.25em;
	padding-bottom: 8px;
	padding-left: 0px;
	padding-right: 0px;
	z-index: 3;
}

body.show .title-bar-layout {
	flex-wrap: nowrap;
}

/* Header logo */

.logo-wrapper {
	padding-top: 1px;
	position: relative;
}

.title-bar-layout .logo-wrapper a.logo {
	background-position-x: left;
	background-size: auto 45px;
	height: 44px;
	width: 220px;
	z-index: 4;
}

/* Header title, subtitle, version label container */

.rg-version {
	z-index: 4;
	padding-top: 8px;
	padding-left: 11px;
}

.cc-theme-conjur .rg-version {
	left: 232px;
	min-width: 35em;
	padding-bottom: 5px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 4;
}

.rg-version span {
	font-family: RopaSansPTT-Light, sans-serif;
	white-space: nowrap;
}

.rg-version span.SearchHighlight {
	top: 0px;
}

/* Header title */

.rg-version .header-title {
	font-size: 20px;
	margin-right: 10px;
}

/* Header subtitle */

.rg-version .header-subtitle {
	font-size: 20px;
	margin-right: 0;
	padding-right: 10px;
	border-left: solid 1px #5d8ec7;
	padding-left: 10px;
}

/* Header version label */

.rg-version .version-control {
	font-size: 16px;
}

/* Static version label */

.rg-version span.version-label {
	border-left: solid 1px #5d8ec7;
	order: 2;
	padding-left: 10px;
	font-size: 20px;
	margin-right: 10px;
	display: none;
}


/* header staging review label */

span.review-label {
	font-family: 'Open Sans Regular', sans-serif;
	color: #2F3564;
    color: green;
    margin: 8px 0;
	font-size: 16px;
    padding: 0 8px;
    border-left: solid 1px #D0D0D0;
}

/* Header product dropdown */

.rg-version .header-title.cc-has-product-dropdown:after {
	background: transparent url('Images/Search/ic_arrow.svg') no-repeat right top;
	content: '';
	display: inline-block;
	height: 36px;
	position: absolute;
	right: -22px;
	top: 14px;
	width: 22px;
}

.rg-version .header-title.cc-has-product-dropdown:hover:after {
	background-image: url('Images/Search/ic_arrow_hover.svg');
}

.rg-version .header-title.cc-has-product-dropdown:active:after {
	background-image: url('Images/Search/ic_arrow_pressed.svg');
}

.rg-version .header-title.cc-has-product-dropdown:hover ul.cc-product-dropdown {
	display: block;
}

ul.cc-product-dropdown {
	background-color: #ffffff;
	border: solid 1px #dddddd;
	border-radius: 2px;
	box-shadow: 1px 1.5px 4px 0 rgba(170, 174, 181, .45);
	color: #333333;
	display: none;
	font-size: 14px;
	right: -22px;
	list-style: none;
	margin: 0px;
	max-width: 260px;
	padding: 0px;
	position: absolute;
	top: 30px;
	transition: all 100ms ease-in;
	width: auto;
}

ul.cc-product-dropdown>li {
	background: none;
	display: block;
	height: 100%;
	line-height: 15px;
	list-style: none;
	margin: 0px;
	padding: 0px 10px;
	position: relative;
	word-break: normal;
	word-wrap: normal;
}

ul.cc-product-dropdown>li:hover {
	background-color: rgba(53, 197, 193, .12);
}

ul.cc-product-dropdown>li.selected {
	background-color: rgba(52, 197, 193, 0.3);
}

ul.cc-product-dropdown>li>a {
	color: #333333;
	display: block;
	font-family: 'Open Sans', Arial, Verdana, 'sans-serif';
	font-size: 14px;
	font-weight: normal;
	height: 100%;
	line-height: 18px;
	margin: 0px;
	outline: none;
	padding: 8px 5px;
	text-align: left;
	text-decoration: none;
	white-space: nowrap;
}

/* Left side version dropdown */

.rg-version .version-control.cc-has-version-dropdown:after {
	background: transparent url('Images/Search/ic_arrow.svg') no-repeat right top;
	content: '';
	display: inline-block;
	height: 36px;
	position: absolute;
	right: -22px;
	top: 3px;
	width: 22px;
}

.rg-version .version-control.cc-has-version-dropdown:hover ul {
	visibility: visible;
}

.rg-version .version-control ul {
	background-color: #ffffff;
	border: solid 1px #dddddd;
	border-radius: 2px;
	box-shadow: 1px 1.5px 4px 0 rgba(170, 174, 181, .45);
	color: #333333;
	font-size: 14px;
	right: -22px;
	list-style: none;
	margin: 0px;
	max-width: 260px;
	padding: 0px;
	position: absolute;
	top: 30px;
	transition: all 100ms ease-in;
	visibility: hidden;
	width: auto;
}

.rg-version .version-control ul>li {
	background: none;
	display: block;
	height: 100%;
	line-height: 15px;
	list-style: none;
	margin: 0px;
	padding: 0px 10px;
	position: relative;
	word-break: normal;
	word-wrap: normal;
}

.rg-version .version-control ul>li:hover {
	background-color: rgba(53, 197, 193, .12);
}

.rg-version .version-control ul>li>a {
	color: #333333;
	display: block;
	font-family: 'Open Sans', Arial, Verdana, 'sans-serif';
	font-size: 14px;
	font-weight: normal;
	height: 100%;
	line-height: 18px;
	margin: 0px;
	outline: none;
	padding: 8px 5px;
	text-align: left;
	text-decoration: none;
	white-space: nowrap;
}

.rg-version .version-control ul>li.selected {
	background: rgba(53, 197, 193, .3);
}

.rg-version .version-control ul>li.selected>a {
	color: #999999;
	cursor: default;
}

/* Hiding top nav menu */

.show .navigation-wrapper {
	display: none;
}

/* Custom main menu */

.show .cc-main-menu {
	background: #0f2233;
	flex: 0 1 auto;
	letter-spacing: 0.64px;
	order: 4;
	padding-top: 3px;
	position: relative;
}

.show.cc-home .main-section {
	background: none;
}

body.show.cc-inner .foundation-wrap .cc-main-menu:before {
	background: #2f73b0;
	content: '';
	display: block;
	height: 18px;
	position: absolute;
	left: -2px;
	top: 7px;
	width: 1px;
}

body.show.cc-inner.cc-theme-conjur .foundation-wrap .cc-main-menu:before {
	display: none;
}

.show .cc-main-menu>ul {
	margin: 0;
}

/* Main menu items and submenus */

.show .cc-main-menu>ul li {
	background: none;
	margin: 0 23px;
	padding: 5px 0;
}

.show .cc-main-menu ul li.selected>a {
	background-color: #2f74b0;
}

.show .cc-main-menu.product ul li.selected>a {
	background-color: #F1F5FB;
	color: #1362CB !important;
	font-weight: 600;
	font-family: 'Open Sans Semibold', 'Open Sans';
}

.show .cc-main-menu ul li.has-sub-menu.selected>a {
	background-color: transparent !important;
}

.cc-main-menu li.has-sub-menu>a {
	margin-bottom: 5px;
}

.show .cc-main-menu>ul>li:last-child {
	border-right: none;
}

.show .cc-main-menu>ul>li {
	border-right: solid 1px #2f73b0;
	float: left;
	height: 19px;
	margin: 0;
	position: relative;
	padding: 0 0.92rem;
}

.product-menu>ul>li.has-sub-menu>a {
	font-weight: 600;
	font-size: 16px !important;
	font-family: 'Open Sans';
}

.show .cc-main-menu .product-menu:hover>a {
	color: #9ecbff !important;
}

.product-menu>a {
	line-height: 16px !important;
	color: white !important;
}

.product-menu ul a:hover {
	color: #1362CB !important;
}

.show .cc-main-menu.language {
	display: none;
	margin-left: 6px;
}

.show .cc-main-menu.language>ul>li {
	padding: 0 11px 0 7px;
}

.show.cc-theme-conjur .cc-main-menu>ul>li>ul>li {
	/* border-bottom: 1px solid rgba(255, 255, 255, 0.2); */
}

.show .cc-main-menu>ul>li:hover>ul>li.menuTitle {
	text-align: right;
}

.show.cc-theme-default .cc-main-menu>ul>li:hover>ul>li.menuTitle {
	position: absolute;
	right: 0px;
	bottom: 0px;
	border-top: 1px solid #E0E7F5;
	margin: 10px 16px;
	width: 100%;
}

/* .show .cc-main-menu ul ul li:hover {
	background-color: rgb(62, 115, 170, 0.5);
} */

.show .cc-main-menu ul li.selected {
	margin: 0;
	border: none !important;
}

.show .cc-main-menu ul li.has-sub-menu.selected {
	background-color: transparent !important;
}

.show .cc-main-menu.language ul li.selected {
	margin: 0px !important;
}

.show.cc-theme-default .cc-main-menu.language>ul>li:hover>ul {
	display: unset;
}

.show .cc-main-menu>ul>li>ul {
	display: none;
}

/* .show .cc-main-menu > ul > li:hover > ul > li.has-sub-menu:before {
    content: " ";
    background-repeat: no-repeat;
    background-image: url(Images/Content/ic_down_arrow.svg);
    height: 6px;
    transition: transform .25s ease-in-out;
    width: 11px;
    top: 18px;
    transform: rotate(-90deg);
    left: -3px;
    background-position: center;
    position: absolute;
	display: inline-block;
} */

.show .cc-main-menu>ul>li:hover>ul>li.has-sub-menu.selected:before {
	left: 20px;
}

.show .cc-main-menu>ul>li>ul>li.has-sub-menu {
	position: relative;
	margin-left: 23px !important;
}

.show.cc-theme-conjur .cc-main-menu>ul>li>ul>li.has-sub-menu {
	position: relative;
}

.cc-main-menu ul>li>ul {
	margin-top: 0;
	margin-left: 0;
}

.show .cc-main-menu>ul>li>ul>li.has-sub-menu:hover:before {
	transform: rotate(0deg);
	transition: transform .25s ease-in-out;
}

/* .cc-main-menu ul > li:hover > ul > li.has-sub-menu ul {
    transition-duration: 0.5s;
    transition-property: max-height;
    transition-timing-function: ease-in;
    visibility: hidden;
    overflow: hidden;
    height: 0;
    max-height: 0px;
}

/* .show .cc-main-menu > ul > li > ul > li.has-sub-menu > a {
	padding-left: 14px;
}

 .cc-main-menu ul > li > ul > li.has-sub-menu:hover ul {
    height: auto;
    max-height: 1000px;
    visibility: visible;
    transition-duration: 0.5s;
    transition-property: max-height, visibility;
    transition-timing-function: ease-in;
} */

.show .cc-main-menu>ul>li>ul {
	background: #0f2233;
	box-shadow: 0 0 20px rgba(0, 0, 0, .15);
	display: block;
	height: 0;
	max-height: 0;
	overflow: hidden;
	padding: 1.25rem 0 8px 0;
	position: absolute;
	right: 0;
	top: 1.10rem;
	visibility: hidden;
	width: auto;
	z-index: 20;
}

.show.cc-theme-default .cc-main-menu.product>ul>li>ul {
	background: white;
	box-shadow: 0px 0px 10px rgba(108, 110, 131, 0.25);
	padding: 1.25rem 0 48px 0;
}

.show.cc-theme-conjur .cc-main-menu>ul>li>ul {
	padding: 1.25rem 0 0 0;
	transition-duration: 1s;
	transition-property: max-height, visibility;
	transition-timing-function: ease-in;
}

.show .cc-main-menu>ul>li:hover>ul {
	height: auto;
	max-height: 1000px;
	overflow: hidden;
	visibility: visible;
	z-index: 999;
}

.show.cc-theme-default .cc-main-menu.product>ul>li:hover>ul {
	display: flex;
}

.show .cc-main-menu>ul>li:hover>ul>li,
.show .cc-main-menu>ul>li:hover>ul>li>ul>li {
	margin-top: 0;
	margin-bottom: 0;
	min-width: 150px;
}

.show.cc-theme-default .cc-main-menu.product>ul>li:hover>ul>li,
.show.cc-theme-default .cc-main-menu.product>ul>li:hover>ul>li>ul>li {
	margin-left: 0;
}

.show .cc-main-menu.language>ul>li:hover>ul>li,
.show .cc-main-menu.language>ul>li:hover>ul>li>ul>li {
	margin-top: 0;
	margin-bottom: 0;
	min-width: 70px;
}

.show.cc-theme-default .cc-main-menu.language>ul>li:hover>ul>li {
	margin: 0;
	padding: 0;
}

.cc-main-menu.language li.selected {
	background-color: #2f74b0;
}

.show .cc-main-menu.language>ul li ul li a {
	padding: 14px 23px;
	margin: 0 !important;
	width: 100%;
}

/* Main menu links */

.show .cc-main-menu>ul li a,
.show .cc-main-menu>ul li a:hover,
.show .cc-main-menu>ul li a:link,
.show .cc-main-menu>ul li a:visited {
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
	font-family: RopaSansPTT-Light, sans-serif;
	font-size: 16px;
	line-height: 16px;
	text-decoration: none;
	vertical-align: top;
	white-space: nowrap;
}

.show .cc-main-menu>ul ul li a:hover {
	color: #5cb0ff;
}

.show.cc-theme-default .cc-main-menu.product>ul ul li a,
.show.cc-theme-default .cc-main-menu.product>ul ul li a:hover,
.show.cc-theme-default .cc-main-menu.product>ul ul li a:link,
.show.cc-theme-default .cc-main-menu.product>ul ul li a:visited {
	color: #2F3564;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 19px;
}

.show .cc-main-menu.product>ul li a:hover {
	color: #1362CB;
}

.show .title-bar .cc-main-menu>ul>li>a,
.show .title-bar .cc-main-menu>ul>li>a:hover,
.show .title-bar .cc-main-menu>ul>li>a:link,
.show .title-bar .cc-main-menu>ul>li>a:visited {
	font-size: 20px;
}

.show .cc-main-menu>ul>li.has-sub-menu>a {
	padding-right: 20px;
}

.show .cc-main-menu>ul>li.has-sub-menu:last-child a {
	margin-top: -1px;
	white-space: nowrap;
}

.show .cc-main-menu>ul li a img {
	margin: 0;
	vertical-align: middle;
	width: 19px;
	margin: 0px 0px 3px 1px;
}

.show .cc-main-menu>ul ul li a {
	padding: 4px;
}

.show .cc-main-menu>ul>li:first-child:hover>a {
	color: #9ecbff;
}

/* Animated main menu dropdown icons*/

.show .cc-main-menu>ul>li.has-sub-menu>a::after {
	content: " ";
	background-repeat: no-repeat;
	background-image: url('Images/Content/ic_down_arrow.svg');
	height: 20px;
	right: 7px;
	position: absolute;
	top: 1px;
	transition: transform .25s ease-in-out;
	width: 20px;
}

.show .cc-main-menu>ul>li.has-sub-menu:hover>a::after {
	background-image: url('Images/Content/ic_down_arrow_blue.svg');
	transform: rotate(180deg);
}

.show .cc-main-menu li.menuTitle {
	/* background-color: rgba(216, 216, 216, 0.2); */
	margin: 0px;
	padding-right: 13px;
}

.show .cc-main-menu ul li.menuTitle>a {
	font-family: 'Open Sans', sens-serif;
	font-size: 14px !important;
	padding: 9px 13px 0 0;
	font-weight: 600;
	color: #1362CB !important;
}

li.menuTitle>a:after {
	display: inline-block;
	content: ' ';
	background-image: url('Images/Content/ic_down_arrow_darkblue.svg');
	width: 20px;
	height: 16px;
	position: absolute;
	right: 4px;
	top: 15px;
	transform: rotate(-90deg);
}

.cc-main-menu ul>li.whats-new-parent {
	display: none;
}

.cc-main-menu ul>li>a.whats-new {
	background-image: url('Images/Menus/ic-whats-new.svg');
	position: relative;
	background-size: 32px;
	width: 32px;
	background-repeat: no-repeat;
	height: 36px;
	background-position: 3px 0px;
	margin-top: -6px;
}

.cc-main-menu ul>li>a.whats-new.new:before {
	content: ' ';
	background-image: url('Images/Menus/ic-whats-new-dot.svg');
	position: absolute;
	width: 32px;
	background-size: 11px 11px;
	background-repeat: no-repeat;
	height: 32px;
	background-position: 14px 2px;
}

.new-item {
	background: transparent !important;
}

.cc-inner .new-item:after {
	display: inline-block;
	margin-left: 8px;
	position: absolute;
	bottom: 7px;
	line-height: 100%;
}

/* Main menu version menu */

.show .version-control.cc-main-menu {
	border-left: solid 1px #5d8ec7;
	order: 2;
	padding-left: 10px;
}

.show .version-control.cc-main-menu>ul>li:last-child {
	padding-left: 0px;
}

.show.cc-theme-default .cc-main-menu.version-control>ul>li:hover>ul {
	padding-bottom: 0;
}

.show .cc-main-menu.version-control>ul>li:hover>ul>li {
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	padding: 8px 0;
}

/* Conjur main menu */

.show.cc-theme-conjur .cc-main-menu {
	order: 3;
}

/* .cc-theme-conjur a.logo:after {
	content: 'Conjur';
	display: block;
	color: white;
	left: 225px;
	text-transform: uppercase;
	top: 4px;
	font-family: 'Open Sans', sans-serif;
	font-size: 26px;
	color: #ffffff;
	position: absolute;
} */

.cc-main-menu.product>ul ul li.has-sub-menu>a,
.cc-main-menu.product>ul ul li.has-sub-menu>a:hover {
	cursor: default !important;
	color: #2F3564 !important;
	font-family: 'Open Sans', sans-serif;
}

.off-canvas-content .title-bar-section.outer-row {
	border-bottom: 4px solid;
	border-color: transparent;
}
.cc-portal .off-canvas-content .title-bar-section.outer-row {
	border-bottom-color: transparent !important;
}
.cc-legal .off-canvas-content .title-bar-section.outer-row {
	border-bottom-color: #C1C2CE;
}

.cc-home .rg-toggle .rg-toggle-wrapper li a.selected,
.cc-home .rg-toggle .rg-toggle-wrapper li a.selected:link {
	border-bottom: solid 2px #1362CB;
	font-weight: 600;
	color: #1362CB;
	padding-bottom: 1px;
}
.cc-home .rg-toggle .rg-toggle-wrapper li a:hover {
	color: #1362CB;
}

@media only screen and (max-width: 1510px) {
	.show.cc-theme-default .cc-main-menu.product > ul > li:hover > ul
	{
		flex-wrap: wrap;
		width: 1195px;
	}
	li.has-sub-menu {
		flex-basis: 28%;
	}
}

@media only screen and (max-width: 1300px) {
	body.cc-left-align.cc-home.show .off-canvas-content .title-bar-layout.outer-row {
		margin: auto;
	}
}
@media tablet {
	.show.cc-theme-default .cc-main-menu.product > ul > li:hover > ul
	{
		display: block;
	}
	.show.cc-theme-default .cc-main-menu > ul > li:hover > ul > li.menuTitle {
		position: unset;
	}
	.show .cc-main-menu ul li.selected > a {
		background-color: transparent;
	}
	.show .cc-main-menu.language {
		display: none!important;
	}
	.off-canvas-content .title-bar-container.sticky-container {
		height: 149px !important;
		min-height: 149px !important;
	}
	body.cc-home.cc-left-align .off-canvas-content .title-bar .outer-row {
		padding-right: 7.5%;
	}
	body.cc-left-align .off-canvas-content .title-bar .outer-row {
		padding: 10px 2.5% 14px 2.5%;
	}
	/* Default theme logo for tablet */
	.cc-theme-default .title-bar-layout .logo-wrapper a.logo
	{
		width: 224px;
		background-image: url('Images/Skin/lg-cyberark-docs.svg') !important;
		background-size: auto 32px;
		height: 32px;
	}
	/* Tablet docs label */
	span.tablet-docs-title {
		display: block;
	}
	/* Home page header for tablet */
	.cc-home .middle.title-bar-section.outer-row.clearfix
	{
		border-bottom-style: solid;
		border-bottom-width: 6px;
	}
	/* Inner page header for tablet */
	.cc-inner .title-bar.sticky.is-stuck {
		padding-bottom: 0px;
	}
	/* Hiding main menu for tablet */
	.cc-main-menu {
		display: none;
	}
	.show .cc-main-menu.mobile > ul > li:last-child a {
		margin-top: 0px;
	}
	.show .cc-main-menu.mobile ul li.selected,
	.show .cc-main-menu.mobile ul ul li.selected:hover {
		background-color: transparent;
	}
	.show .cc-main-menu.mobile ul li.selected > a {
		color: #047ad4!important;
	}
	.show .cc-main-menu.mobile ul li.selected {
		margin-top: 0px!important;
	}
	.mobile-header {
		height: 43px;
		border-bottom-color: transparent;
		border-bottom-style: solid;
		border-bottom-width: 1px;
		position: absolute;
		top: 64px;
		width: 100%;
		background: white;
	}
	.rg-version {
		position: fixed;
		top: 65px;
		color: black;
		text-align: center;
		/* margin: auto; */
		left: 0;
		right: 0;
	}
	.rg-version span.version-label {
		border-left: none;
		right: 0;
		font-size: 0;
		top: 8px;
		padding-right: 6.5px;
		position: absolute;
	}

	.rg-version span.version-label span {
		font-family: 'Open Sans';
		font-size: 16px;
	}
	span.header-subtitle {
		display: none;
	}

	.rg-version span.header-title {
		font-family: 'Open Sans Semibold';
		font-size: 16px;
	}
	.show .title-bar .version-control.cc-main-menu > ul > li > a:link, 
	.show .title-bar .version-control.cc-main-menu > ul > li > a:visited, 
	.show .title-bar .version-control.cc-main-menu > ul > li > a:hover, 
	.show .title-bar .version-control.cc-main-menu > ul > li > a:active {
		font-family: 'Open Sans';
		font-size: 16px;
		padding-right: 25px;
	}

	.show .version-control.cc-main-menu.version-mobile > ul > li:first-child > a::after {
		right: 15px;
		top: -3px;
		transform: rotate(180deg);
		background-image: url('Images/Content/ic_down_arrow_conjurblue.svg');
	}

	body.show .foundation-wrap .cc-main-menu:before {
		display: none!important;
	}

	.show .title-bar .cc-main-menu > ul > li > a:link,
	.show .title-bar .cc-main-menu > ul > li > a:visited {
	color: black;
	}
	.show .title-bar .cc-main-menu.version-mobile > ul > li > a
	{
		color: #4d84b8;
	}
	.show .version-control.cc-main-menu {
		border-left: none;
		display: block;
		position: absolute;
		right: 0;
		top: 64px;
		background: none;
		z-index: 1003;
		text-align: right;
	}
	.show .cc-main-menu.version-control > ul > li.has-sub-menu > a::after {
		background-image: url('Images/Content/ic_down_arrow_dark.svg');
		right: 10px;
		transition: none;
	}

	.show .cc-main-menu > ul > li:first-child:hover > a::after {
		transform: none;
	}

	.version-control span.label {
		display: none;
	}
	.show .cc-main-menu.version-control > ul > li:hover > ul {
		display: none;
	}
	.show .cc-main-menu.version-control{
		padding-top: 14px;
		height: 41px;
		padding-left: 24px;
	}
	.show .cc-main-menu.version-control:active{
		 background-color: #f6f6f6; 
		 /* background-color: green;  */
	}
	.show .cc-main-menu.version-control.version-mobile > ul > li > ul
	{
		background-color: #fafafa;
		display: block;
		max-height: unset;
		height: auto;
		visibility: visible;
		margin-top: 11px;
	}

	.show .cc-main-menu > ul > li:hover > ul > li.menuTitle {
		outline: none;
		margin: 0;
		background: none;
		text-align: left;
		position: unset;
	}

	.show.cc-theme-default .cc-main-menu > ul > li > ul > li.has-sub-menu {
		margin-left: 0!important;
	}

	.show.cc-theme-default .cc-main-menu > ul > li:hover > ul {
		display: block;
	}

	.cc-main-menu.product > ul ul li.has-sub-menu > a, 
	.cc-main-menu.product > ul ul li.has-sub-menu > a:hover {
		font-family: 'Open Sans Semibold';
	}

	.show .cc-main-menu ul li.menuTitle > a {
		font-family: 'Open Sans'!important;
	}

	/* Hiding menu toggle for tablet */
	#sidenav-toggle-open,
	#sidenav-toggle-closed,
	#itn-toggle-open,
	#itn-toggle-closed
	 {
		visibility: hidden !important;
		position: relative;
	}
	.cc-main-menu.product > ul ul li.has-sub-menu > a, 
	.cc-main-menu.product > ul ul li.has-sub-menu > a:hover.cc-main-menu.product > ul ul li.has-sub-menu > a, 
	.cc-main-menu.product > ul ul li.has-sub-menu > a:hover {
		color: black!important;
	}

	.off-canvas-content .title-bar-section.outer-row {
		border-bottom: 0px none transparent!important;
	}
	.mobile-header {
		border-color: #E0E7F5 !important;
	}

}
@media mobile  {
	/* Mobile header */
	.show.cc-home .off-canvas-content .title-bar-container.sticky-container,
	.show.cc-home nav.title-bar {
		padding-top: 0px;
		height: 73px;
	}
	body.cc-left-align.cc-home.show .off-canvas-content .title-bar-layout.outer-row,
	body.cc-left-align.cc-inner.show .off-canvas-content .title-bar-layout.outer-row {
		flex-wrap: wrap;
	}
	/* Header bar for mobile */
	nav.title-bar {
		background-color: white;
	}
	body.cc-home.cc-left-align .off-canvas-content .title-bar .outer-row {
		padding-right: 14px;
		padding-left: 14px;
	}
	/* Conjur logo for mobile */
	 .cc-theme-conjur .title-bar .title-bar-layout .logo-wrapper a.logo {
		background-image: url('Images/Skin/lg-conjur.svg') !important;
		background-size: 70%;
	} 
}