/*<meta />*/

/* Version 4.0.2 */
/* Hide sidenav for home page */

.cc-home nav.sidenav-wrapper
{
	display: none;
}

/* Left menu open and close toggle */

.sidenav-container
{
	position: relative;
	border-right: solid 1px #dddddd;
	z-index: 6;
	height: 100%;
	width: 100%;
}

#sidenav-toggle-open,
#sidenav-toggle-closed,
#itn-toggle-open,
#itn-toggle-closed
{
	cursor: pointer;
	visibility: hidden;
	z-index: 999;
	width: 18px !important;
	min-height: 20px !important;
	border-radius: 2px;
	border: solid 1px #dddddd;
}

#sidenav-toggle-open,
#sidenav-toggle-closed
{
	top: 8px;
	right: -1px;
	position: absolute;
}

#itn-toggle-open,
#itn-toggle-closed
{
	top: 200px;
	right: 248px;
	position: fixed;
}

.cc-inner #sidenav-toggle-open,
.cc-inner #sidenav-toggle-closed,
.cc-inner #itn-toggle-open,
.cc-inner #itn-toggle-closed
{
	z-index: 77;

}

.sidenav-container.closed ul.sidenav
{
	max-width: 0px !important;
	min-width: 0px !important;
	overflow: hidden;
}

#sidenav-toggle-open,
#itn-toggle-open
{
	display: block;
	background-color: #f8f8f8;
	background-position: center center;
	background-repeat: no-repeat;
}

#sidenav-toggle-closed
{
	left: -1px;
	display: none;
	background-color: #f8f8f8;
	background-position: center center;
	background-repeat: no-repeat;
}

#itn-toggle-closed {
	right: 21px;
	display: none;
	background-color: #f8f8f8;
	background-position: center center;
	background-repeat: no-repeat;
}

#sidenav-toggle-open,
#itn-toggle-closed
{
	background-image: url('Images/Menus/ic-arrow-big-blue-open.svg');
}

#itn-toggle-open,
#sidenav-toggle-closed
{
	background-image: url('Images/Menus/ic-arrow-big-blue-closed.svg');
}

.cc-left-align div.ContentRow > div.col2 .col2-content.itn-closed {
	padding-right: 0;
}


.sidenav-container.closed
{
	border-left: solid 1px #dddddd;
	border-right: none !important;
	min-width: 20px !important;
	max-width: 20px !important;
	overflow: hidden;
}

.cc-inner.show div.content.sidenav-closed
{
	padding-left: 2.5%;
}

/* Left menu */

.cc-inner.show .sidenav-wrapper {
	overflow: visible;
}

.sidenav-container .sidenav
{
	height: 100%;
	padding-right: .3rem;
	visibility: hidden;
	padding-top: 0px;

	max-height: calc(100vh - 202px);

	max-width: 355px;
	width: 100%;
	position: fixed;
	width: auto!important;
	top: 170px;
	overflow: auto;
}

/* Added for sidenav */

ul.sidenav > li > ul.is-accordion-submenu
{
	border-bottom: solid 1px #dddddd;
	border-left: solid 3px #3165bd;
	border-top: solid 1px #dddddd;
	margin-left: -30px;
	background: #f8f8f8 !important;
	max-height: 99999px;
}

ul.sidenav li.is-accordion-submenu-parent > a span.submenu-toggle-container
{
	left: -28px;
	right: unset;
	cursor: pointer;
}

ul.sidenav > li.is-accordion-submenu-parent > a span.submenu-toggle-container {
	left: -41px;
}

span.submenu-toggle-container:focus
{
	outline: none;
}

.sidenav-container .sidenav li
{
	background: none;
}

/* Left menu links in various states */

.sidenav-container .sidenav li > a:hover,
.navigation-wrapper ul.navigation ul > li:hover
{
	text-decoration: underline;
}

.sidenav-container .sidenav > li > a[href="javascript:void(0);"]:hover
{
	background-color: transparent;
	color: #333333;
	cursor: default;
	font-family: 'Open Sans', Arial, Verdana, 'sans-serif';
}

ul.sidenav li a span.submenu-toggle
{
	background: url('Images/Menus/ic-menu-expand.svg') no-repeat left;
	background-size: 8px 10px;
	width: 10px;
	border: none;
	height: 10px;
	transform: rotateZ(0deg);
	transition: transform .25s ease-in-out;
}

ul.sidenav li.is-accordion-submenu-parent > a span.submenu-toggle:hover,
ul.sidenav li.is-accordion-submenu-parent > a:hover span.submenu-toggle
{
	background-image: url('Images/Menus/ic-menu-expand-hover.svg');
}

ul.sidenav li.is-accordion-submenu-parent > a span.submenu-toggle:active,
ul.sidenav li.is-accordion-submenu-parent > a:active span.submenu-toggle
{
	background-image: url('Images/Menus/ic-menu-expand-pressed.svg');
}

ul.sidenav li.is-accordion-submenu-parent > a:hover
{
	color: #1c87d9;
}

ul.sidenav > li {
    margin-left: 41px;
}

.sidenav-container .sidenav ul ul ul ul ul > li > a
{
	margin-left: 127px;
	background-color: transparent;
}

.sidenav-container .sidenav ul ul ul ul ul ul > li > a {
	margin-left: 147px;
}

/* for open aria, see classes, may not be needed */

ul.sidenav .submenu-toggle-container[aria-expanded='true'] > span.submenu-toggle,
ul.sidenav .is-accordion-submenu-parent > a[aria-expanded='true'] > .submenu-toggle-container > span.submenu-toggle
{
	transform: rotateZ(90deg);
	transition: transform .25s ease-in-out;
}
.hamburger-icon {
	display: none;
}
.show .cc-main-menu.version-control > ul >li > ul > li > a .labelPrefix_mobile{
	display: none;
}
.show .cc-main-menu.version-control > ul >li > ul > .listTitle_mobile{
	display: none;
}

@media tablet
{
	/* Hiding menu toggle for tablet */

	#sidenav-toggle-open,
	#sidenav-toggle-closed,
	#itn-toggle-open,
	#itn-toggle-closed
	{
		visibility: hidden !important;
		position: relative;
	}

	/* Hambuger products menu for tablet */

	.hamburger-icon {
		background-image: url(Images/Menus/ic-hamburger.svg);
		background-position: center center;
		cursor: pointer;
		background-repeat: no-repeat;
		display: block;
		top: 0;
		position: absolute;
		right: 0;
		width: 57px;
		height: 64px;
	}

	.hamburger-icon.close-icon {
		background-image: url(Images/Menus/ic-hamburger-close.svg);
	}

	.hamburger-icon:active {
		background-color: #2f3e4e;
		background-image: url(Images/Menus/ic-menu-pressed.svg);
	}
	
	body.cc-left-align nav.title-bar .menu-icon
	{
		z-index: 1001;
	}

	.cc-main-menu.mobile {
		display: block;
		position: absolute;
		top: 70px;
		right: 0;
		z-index: 9999;
		width: 360px;
		background: #fafafa;
		padding: 0;
		max-width: 100%;
	}

	.show .cc-main-menu.version-control.version-mobile > ul >li > ul > li {
		width: 250px;
		max-width: 100%;
		text-align: initial;
	}
	.show .cc-main-menu.version-control.version-mobile > ul >li > ul > li > a {
		font-family: 'Open Sans';
		color: black;
	}
	.show .cc-main-menu.version-control.version-mobile > ul >li > ul > li > a:active {
		color: #0290de;
	}
	.show .cc-main-menu.version-control.version-mobile > ul >li > ul > li > a .labelPrefix{
		display: none;
	}
	.show .cc-main-menu.version-control.version-mobile > ul >li > ul > li > a .labelPrefix_mobile{
		display: inline-block;
	}
	.show .cc-main-menu.version-control.version-mobile > ul >li > ul > .listTitle_mobile{
		font-family: 'Open Sans Semibold';
		color: black;
		display: block;
		padding: 14px 0px;
		line-height: 16px;
	}

	.cc-inner .cc-main-menu.mobile {
		top: 64px;
	}

	.show .cc-main-menu.mobile > ul li { 
		margin: 0;
		padding: 0;
	}

	.show .cc-main-menu.mobile > ul ul ul li a {
		padding-left: 28px!important;
	}

	.cc-main-menu.mobile li.whats-new-parent {
		display: none!important;
	}

	body.show.cc-inner .foundation-wrap .cc-main-menu.mobile:before {
		display: none;
	}


	.cc-main-menu.mobile ul {
		margin: 0;
	}

	.show .cc-main-menu.mobile > ul > li > a {
		font-family: 'Open Sans Semibold'!important;
		border-width: 0px!important;
	}

	.show .cc-main-menu.mobile > ul li a, 
	.show .cc-main-menu.mobile > ul li a:hover, 
	.show .cc-main-menu.mobile > ul li a:link, 
	.show .cc-main-menu.mobile > ul li a:visited {
		color: black;
		padding: 14px 16px;
		font-size: 16px;
		width: 360px;
		border-top: solid 1px #c2c1c1;
		line-height: normal;
		min-height: 52px;
		white-space: normal;
		letter-spacing: normal;
		font-family: 'Open Sans';
	}

	.show .cc-main-menu.mobile > ul li a:active {
		text-decoration: underline;
		font-family: 'Open Sans Semibold';
	}

	.show .cc-main-menu.mobile > ul > li > ul {
		height: auto;
		max-height: calc(100vh - 117px);
		overflow-y: auto;
		width: 360px;
		visibility: visible;
		background: #fafafa;
		box-shadow: none;
		top: 53px;
		padding: 0;
		right: 0;
		max-width: 100vw;
	}
	
	.show .cc-main-menu.mobile > ul > li
	{
		float: right;
		width: 360px;
		height: 54px;
		padding-top: 16px;
	}

	.show.cc-theme-default .cc-main-menu.mobile > ul > li:hover > ul > li.menuTitle
	{
		border-top: none;
	}

	.show .cc-main-menu.mobile .product-menu > a
	{
		color: black !important;
		text-decoration: none;
	}

	.show.cc-theme-default .cc-main-menu.product.mobile > ul > li:hover > ul
	{
		width: 360px;
	}

	.show .cc-main-menu ul li.menuTitle > a
	{
		position: relative;
	}
	
	.show .cc-main-menu.mobile > ul > li.has-sub-menu > a::after {
		display: none;
	}

	/* Contents icon for tablet */

	nav.title-bar .title-bar-section .menu-icon:after {
		content: 'Contents';
		position: absolute;
		left: calc(2.5% + 24px);
		font-family: 'Open Sans';
		top: 8.5px;
		font-size: 16px;
	}

	nav.title-bar .title-bar-section .menu-icon
	{
		left: 0px;
		position: fixed;
		height: 43px;
		margin-bottom: 10px;
		top: 128px;
		background: white;
		width: 100%;
		border-bottom: 1px solid #c2c1c1;
		padding: 0px 2.5% 0px 2.5%;
	}

	nav.title-bar .title-bar-section .menu-icon:active {
		background: #f6f6f6;
	}

	.title-bar .menu-icon span
	{
		background: transparent url('Images/Menus/ic-contents.svg') no-repeat right top;
		background-size: 16px 11px;
		content: '';
		height: 11px;
		margin-right: 0px;
		width: 16px;
	}
/* 
	.title-bar .menu-icon:active span
	{
		background-image: url('Images/Menus/ic-menu-pressed.svg');
	}

	.title-bar .menu-icon:hover span
	{
		background-image: url('Images/Menus/ic-menu-hover.svg');
	} */

	/* Hamburger menu */

	ul.off-canvas-accordion.vertical.menu.off-canvas-list {
		margin-left: -6px;
	}

	ul.off-canvas-list .is-accordion-submenu-parent > a span.submenu-toggle {
		top: 0;
		margin-top: 0;
		right: 21.5px;
		background: transparent url('Images/Menus/ic-arrow-big-white.svg') no-repeat center center;
		width: 20px;
		height: 52px;
		border-top: none;
	}


	ul.off-canvas-accordion .submenu-toggle-container[aria-expanded='true'] > span.submenu-toggle,
	ul.off-canvas-accordion .is-accordion-submenu-parent > a[aria-expanded='true'] > .submenu-toggle-container > span.submenu-toggle
	{
		transform: rotateZ(180deg);
	}

	ul.off-canvas-accordion .is-accordion-submenu-parent > a
	{
		padding-right: 40px;
	}

	.off-canvas ul.is-accordion-submenu.nested {
		background-color: #085193;
	}

	ul.off-canvas-accordion > li.is-accordion-submenu-parent > a[aria-expanded="true"] {
		background-color: #047ad4;
	}

	ul.off-canvas-list li a {
		font-family: 'Open Sans';
		min-height: 52px;
		padding: 14px 30px;
	}

	ul.off-canvas-accordion > li > a {
		padding-left: 20px;
		border-bottom: solid 1px rgba(255, 255, 255, 0.3);
	}

	ul.off-canvas-accordion > li > ul > li > a {
		padding-left: 40px;
	}

	ul.off-canvas-accordion > li > ul > li > ul > li > a {
		padding-left: 60px;
	}

	ul.off-canvas-accordion > li > ul > li > ul > li > ul > li > a {
		padding-left: 80px;
	}

	ul.off-canvas-accordion > li > ul > li > ul > li > ul > li > ul > li > a {
		padding-left: 100px;
	}

	ul.off-canvas-accordion > li > ul > li > ul > li > ul > li > ul > li > ul > li > a {
		padding-left: 120px;
	}

	ul.off-canvas-list li a.selected {
		text-decoration: underline;
	}

	ul.off-canvas-accordion ul a:active, 
	ul.off-canvas-accordion ul .is-accordion-submenu-parent > a[aria-expanded="true"] {
		color: white;
		font-family: 'Open Sans SemiBold';
		text-decoration: underline;
	}

	.responsive-menu-header {
		height: 52px;
		color: white;
		background: #1a3c7a;
		padding: 0 20px;
		line-height: 52px;
		font-family: 'Open Sans Semibold';
		font-size: 18px;
	}

	.menu-icon.responsive-close
	{
		background-color: transparent;
		border: none;
		display: block;
		float: right;
		height: 52px;
		width: 18px;
		padding: 0;
		z-index: 100;
	}

	.menu-icon.responsive-close span
	{
		background: transparent url('Images/Menus/ic-close-big-grey.svg') no-repeat;
		background-position: center center;
		display: block;
		height: 18px;
		width: 18px;
		cursor: pointer;
	}

	.menu-icon.responsive-close span:active
	{
		background-image: url('Images/Menus/ic-close-big-grey-pressed.svg');
	}
}

@media only screen and (max-width: 639px)
{
	/* Hamburger icon for mobile */

	nav.title-bar .title-bar-section .menu-icon {
		z-index: 888;
	}

}