/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: StandardTiny;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #e5e5e5;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #e5e5e5;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #e5e5e5;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #e5e5e5;
	max-id: 3;
	cell-padding-left: 10pt;
	cell-padding-right: 10pt;
	cell-padding-top: 3pt;
	cell-padding-bottom: 3pt;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #e5e5e5;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 2px;
	separator-color: #dddddd;
	name: Header1;
	id: 2;
	text-align: left;
	background-color: #f0f0f0;
	cell-content-style-tag: p;
	font-weight: bold;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #e5e5e5;
	name: Body1;
	id: 1;
	cell-content-style-tag: p;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Footer1;
	id: 3;
}


/* Cell Styles: */
 
.TableStyle-StandardTiny
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #e5e5e5;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #e5e5e5;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #e5e5e5;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #e5e5e5;
	border-bottom-width: 1px;
	border-spacing: 0px 0px;
}

.TableStyle-StandardTiny-Column-Column1
{
	
}

.TableStyle-StandardTiny-Head-Header1
{
	
}

.TableStyle-StandardTiny-HeadI-Column1-Header1
{
	padding-left: 10pt;
	padding-right: 10pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	font-weight: bold;
	text-align: left;
	background-color: #f0f0f0;
}

.TableStyle-StandardTiny-HeadI-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-StandardTiny-HeadE-Column1-Header1
{
	padding-left: 10pt;
	padding-right: 10pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-right-width: 1px;
	border-right-color: #e5e5e5;
	border-right-style: solid;
	font-weight: bold;
	text-align: left;
	background-color: #f0f0f0;
	border-bottom-width: 2px;
	border-bottom-color: #dddddd;
	border-bottom-style: solid;
}

.TableStyle-StandardTiny-HeadE-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-StandardTiny-HeadF-Column1-Header1
{
	padding-left: 10pt;
	padding-right: 10pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	font-weight: bold;
	text-align: left;
	background-color: #f0f0f0;
	border-bottom-width: 2px;
	border-bottom-color: #dddddd;
	border-bottom-style: solid;
}

.TableStyle-StandardTiny-HeadF-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-StandardTiny-HeadH-Column1-Header1
{
	padding-left: 10pt;
	padding-right: 10pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-right-width: 1px;
	border-right-color: #e5e5e5;
	border-right-style: solid;
	font-weight: bold;
	text-align: left;
	background-color: #f0f0f0;
}

.TableStyle-StandardTiny-HeadH-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-StandardTiny-HeadD-Column1-Header1
{
	padding-left: 10pt;
	padding-right: 10pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	font-weight: bold;
	text-align: left;
	background-color: #f0f0f0;
	border-bottom-width: 2px;
	border-bottom-color: #dddddd;
	border-bottom-style: solid;
}

.TableStyle-StandardTiny-HeadD-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-StandardTiny-HeadC-Column1-Header1
{
	padding-left: 10pt;
	padding-right: 10pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	font-weight: bold;
	text-align: left;
	background-color: #f0f0f0;
}

.TableStyle-StandardTiny-HeadC-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-StandardTiny-HeadB-Column1-Header1
{
	padding-left: 10pt;
	padding-right: 10pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-right-width: 1px;
	border-right-color: #e5e5e5;
	border-right-style: solid;
	font-weight: bold;
	text-align: left;
	background-color: #f0f0f0;
}

.TableStyle-StandardTiny-HeadB-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-StandardTiny-HeadA-Column1-Header1
{
	padding-left: 10pt;
	padding-right: 10pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	font-weight: bold;
	text-align: left;
	background-color: #f0f0f0;
}

.TableStyle-StandardTiny-HeadA-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-StandardTiny-HeadG-Column1-Header1
{
	padding-left: 10pt;
	padding-right: 10pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	font-weight: bold;
	text-align: left;
	background-color: #f0f0f0;
}

.TableStyle-StandardTiny-HeadG-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-StandardTiny-Foot-Footer1
{
	
}

.TableStyle-StandardTiny-FootI-Column1-Footer1
{
	padding-left: 10pt;
	padding-right: 10pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
}

.TableStyle-StandardTiny-FootI-Column1-Footer1 p
{
	
}

.TableStyle-StandardTiny-FootE-Column1-Footer1
{
	padding-left: 10pt;
	padding-right: 10pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-right-width: 1px;
	border-right-color: #e5e5e5;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-StandardTiny-FootE-Column1-Footer1 p
{
	
}

.TableStyle-StandardTiny-FootF-Column1-Footer1
{
	padding-left: 10pt;
	padding-right: 10pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-StandardTiny-FootF-Column1-Footer1 p
{
	
}

.TableStyle-StandardTiny-FootH-Column1-Footer1
{
	padding-left: 10pt;
	padding-right: 10pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-right-width: 1px;
	border-right-color: #e5e5e5;
	border-right-style: solid;
}

.TableStyle-StandardTiny-FootH-Column1-Footer1 p
{
	
}

.TableStyle-StandardTiny-FootD-Column1-Footer1
{
	padding-left: 10pt;
	padding-right: 10pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-StandardTiny-FootD-Column1-Footer1 p
{
	
}

.TableStyle-StandardTiny-FootC-Column1-Footer1
{
	padding-left: 10pt;
	padding-right: 10pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
}

.TableStyle-StandardTiny-FootC-Column1-Footer1 p
{
	
}

.TableStyle-StandardTiny-FootB-Column1-Footer1
{
	padding-left: 10pt;
	padding-right: 10pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-right-width: 1px;
	border-right-color: #e5e5e5;
	border-right-style: solid;
}

.TableStyle-StandardTiny-FootB-Column1-Footer1 p
{
	
}

.TableStyle-StandardTiny-FootA-Column1-Footer1
{
	padding-left: 10pt;
	padding-right: 10pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
}

.TableStyle-StandardTiny-FootA-Column1-Footer1 p
{
	
}

.TableStyle-StandardTiny-FootG-Column1-Footer1
{
	padding-left: 10pt;
	padding-right: 10pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
}

.TableStyle-StandardTiny-FootG-Column1-Footer1 p
{
	
}

.TableStyle-StandardTiny-Body-Body1
{
	
}

.TableStyle-StandardTiny-BodyI-Column1-Body1
{
	padding-left: 10pt;
	padding-right: 10pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
}

.TableStyle-StandardTiny-BodyI-Column1-Body1 p
{
	
}

.TableStyle-StandardTiny-BodyE-Column1-Body1
{
	padding-left: 10pt;
	padding-right: 10pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-bottom-width: 1px;
	border-bottom-color: #e5e5e5;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #e5e5e5;
	border-right-style: solid;
}

.TableStyle-StandardTiny-BodyE-Column1-Body1 p
{
	
}

.TableStyle-StandardTiny-BodyF-Column1-Body1
{
	padding-left: 10pt;
	padding-right: 10pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-bottom-width: 1px;
	border-bottom-color: #e5e5e5;
	border-bottom-style: solid;
}

.TableStyle-StandardTiny-BodyF-Column1-Body1 p
{
	
}

.TableStyle-StandardTiny-BodyH-Column1-Body1
{
	padding-left: 10pt;
	padding-right: 10pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-right-width: 1px;
	border-right-color: #e5e5e5;
	border-right-style: solid;
}

.TableStyle-StandardTiny-BodyH-Column1-Body1 p
{
	
}

.TableStyle-StandardTiny-BodyD-Column1-Body1
{
	padding-left: 10pt;
	padding-right: 10pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-bottom-width: 1px;
	border-bottom-color: #e5e5e5;
	border-bottom-style: solid;
}

.TableStyle-StandardTiny-BodyD-Column1-Body1 p
{
	
}

.TableStyle-StandardTiny-BodyC-Column1-Body1
{
	padding-left: 10pt;
	padding-right: 10pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
}

.TableStyle-StandardTiny-BodyC-Column1-Body1 p
{
	
}

.TableStyle-StandardTiny-BodyB-Column1-Body1
{
	padding-left: 10pt;
	padding-right: 10pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-right-width: 1px;
	border-right-color: #e5e5e5;
	border-right-style: solid;
}

.TableStyle-StandardTiny-BodyB-Column1-Body1 p
{
	
}

.TableStyle-StandardTiny-BodyA-Column1-Body1
{
	padding-left: 10pt;
	padding-right: 10pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
}

.TableStyle-StandardTiny-BodyA-Column1-Body1 p
{
	
}

.TableStyle-StandardTiny-BodyG-Column1-Body1
{
	padding-left: 10pt;
	padding-right: 10pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
}

.TableStyle-StandardTiny-BodyG-Column1-Body1 p
{
	
}


