/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: AdmonCode;
	border-collapse: collapse;
	max-id: 4;
	margin-top: 10pt;
	margin-bottom: 10pt;
	cell-padding-left: 16px;
	cell-padding-top: 16px;
	cell-padding-right: 16px;
	cell-padding-bottom: 16px;
	border-left-style: solid;
	border-left-width: 12px;
	border-left-color: #000000;
}

mcTableColumnStyle
{
	span: 1;
	name: Icon;
	id: 0;
	size: 54px;
	cell-padding-left: 0px;
	cell-padding-right: 0px;
	cell-padding-top: 0px;
	cell-padding-bottom: 0px;
	background-color: #757575;
	type: Header;
}

mcTableColumnStyle
{
	span: 1;
	id: 4;
	name: Text;
	background-color: #757575;
	cell-content-style-tag: p;
}

mcTableBodyStyle
{
	span: 1;
	name: Body1;
	id: 1;
}


/* Cell Styles: */
 
.TableStyle-AdmonCode
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 12px;
	margin-top: 10pt;
	margin-bottom: 10pt;
	border-spacing: 0px 0px;
}

.TableStyle-AdmonCode-Column-Icon
{
	width: 54px;
}

.TableStyle-AdmonCode-Column-Text
{
	
}

.TableStyle-AdmonCode-HeadI-Icon-
{
	background-color: #757575;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-AdmonCode-HeadI-Icon- p
{
	
}

.TableStyle-AdmonCode-HeadE-Icon-
{
	background-color: #757575;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-AdmonCode-HeadE-Icon- p
{
	
}

.TableStyle-AdmonCode-HeadF-Icon-
{
	background-color: #757575;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-AdmonCode-HeadF-Icon- p
{
	
}

.TableStyle-AdmonCode-HeadH-Icon-
{
	background-color: #757575;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-AdmonCode-HeadH-Icon- p
{
	
}

.TableStyle-AdmonCode-HeadD-Icon-
{
	background-color: #757575;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-AdmonCode-HeadD-Icon- p
{
	
}

.TableStyle-AdmonCode-HeadC-Icon-
{
	background-color: #757575;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-AdmonCode-HeadC-Icon- p
{
	
}

.TableStyle-AdmonCode-HeadB-Icon-
{
	background-color: #757575;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-AdmonCode-HeadB-Icon- p
{
	
}

.TableStyle-AdmonCode-HeadA-Icon-
{
	background-color: #757575;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-AdmonCode-HeadA-Icon- p
{
	
}

.TableStyle-AdmonCode-HeadG-Icon-
{
	background-color: #757575;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-AdmonCode-HeadG-Icon- p
{
	
}

.TableStyle-AdmonCode-HeadI-Text-
{
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
	background-color: #757575;
}

.TableStyle-AdmonCode-HeadI-Text- p
{
	
}

.TableStyle-AdmonCode-HeadE-Text-
{
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
	background-color: #757575;
}

.TableStyle-AdmonCode-HeadE-Text- p
{
	
}

.TableStyle-AdmonCode-HeadF-Text-
{
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
	background-color: #757575;
}

.TableStyle-AdmonCode-HeadF-Text- p
{
	
}

.TableStyle-AdmonCode-HeadH-Text-
{
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
	background-color: #757575;
}

.TableStyle-AdmonCode-HeadH-Text- p
{
	
}

.TableStyle-AdmonCode-HeadD-Text-
{
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
	background-color: #757575;
}

.TableStyle-AdmonCode-HeadD-Text- p
{
	
}

.TableStyle-AdmonCode-HeadC-Text-
{
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
	background-color: #757575;
}

.TableStyle-AdmonCode-HeadC-Text- p
{
	
}

.TableStyle-AdmonCode-HeadB-Text-
{
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
	background-color: #757575;
}

.TableStyle-AdmonCode-HeadB-Text- p
{
	
}

.TableStyle-AdmonCode-HeadA-Text-
{
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
	background-color: #757575;
}

.TableStyle-AdmonCode-HeadA-Text- p
{
	
}

.TableStyle-AdmonCode-HeadG-Text-
{
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
	background-color: #757575;
}

.TableStyle-AdmonCode-HeadG-Text- p
{
	
}

.TableStyle-AdmonCode-FootI-Icon-
{
	background-color: #757575;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-AdmonCode-FootI-Icon- p
{
	
}

.TableStyle-AdmonCode-FootE-Icon-
{
	background-color: #757575;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-AdmonCode-FootE-Icon- p
{
	
}

.TableStyle-AdmonCode-FootF-Icon-
{
	background-color: #757575;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-AdmonCode-FootF-Icon- p
{
	
}

.TableStyle-AdmonCode-FootH-Icon-
{
	background-color: #757575;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-AdmonCode-FootH-Icon- p
{
	
}

.TableStyle-AdmonCode-FootD-Icon-
{
	background-color: #757575;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-AdmonCode-FootD-Icon- p
{
	
}

.TableStyle-AdmonCode-FootC-Icon-
{
	background-color: #757575;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-AdmonCode-FootC-Icon- p
{
	
}

.TableStyle-AdmonCode-FootB-Icon-
{
	background-color: #757575;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-AdmonCode-FootB-Icon- p
{
	
}

.TableStyle-AdmonCode-FootA-Icon-
{
	background-color: #757575;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-AdmonCode-FootA-Icon- p
{
	
}

.TableStyle-AdmonCode-FootG-Icon-
{
	background-color: #757575;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-AdmonCode-FootG-Icon- p
{
	
}

.TableStyle-AdmonCode-FootI-Text-
{
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
	background-color: #757575;
}

.TableStyle-AdmonCode-FootI-Text- p
{
	
}

.TableStyle-AdmonCode-FootE-Text-
{
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
	background-color: #757575;
}

.TableStyle-AdmonCode-FootE-Text- p
{
	
}

.TableStyle-AdmonCode-FootF-Text-
{
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
	background-color: #757575;
}

.TableStyle-AdmonCode-FootF-Text- p
{
	
}

.TableStyle-AdmonCode-FootH-Text-
{
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
	background-color: #757575;
}

.TableStyle-AdmonCode-FootH-Text- p
{
	
}

.TableStyle-AdmonCode-FootD-Text-
{
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
	background-color: #757575;
}

.TableStyle-AdmonCode-FootD-Text- p
{
	
}

.TableStyle-AdmonCode-FootC-Text-
{
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
	background-color: #757575;
}

.TableStyle-AdmonCode-FootC-Text- p
{
	
}

.TableStyle-AdmonCode-FootB-Text-
{
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
	background-color: #757575;
}

.TableStyle-AdmonCode-FootB-Text- p
{
	
}

.TableStyle-AdmonCode-FootA-Text-
{
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
	background-color: #757575;
}

.TableStyle-AdmonCode-FootA-Text- p
{
	
}

.TableStyle-AdmonCode-FootG-Text-
{
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
	background-color: #757575;
}

.TableStyle-AdmonCode-FootG-Text- p
{
	
}

.TableStyle-AdmonCode-Body-Body1
{
	
}

.TableStyle-AdmonCode-BodyI-Icon-Body1
{
	background-color: #757575;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-AdmonCode-BodyI-Icon-Body1 p
{
	
}

.TableStyle-AdmonCode-BodyE-Icon-Body1
{
	background-color: #757575;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-AdmonCode-BodyE-Icon-Body1 p
{
	
}

.TableStyle-AdmonCode-BodyF-Icon-Body1
{
	background-color: #757575;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-AdmonCode-BodyF-Icon-Body1 p
{
	
}

.TableStyle-AdmonCode-BodyH-Icon-Body1
{
	background-color: #757575;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-AdmonCode-BodyH-Icon-Body1 p
{
	
}

.TableStyle-AdmonCode-BodyD-Icon-Body1
{
	background-color: #757575;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-AdmonCode-BodyD-Icon-Body1 p
{
	
}

.TableStyle-AdmonCode-BodyC-Icon-Body1
{
	background-color: #757575;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-AdmonCode-BodyC-Icon-Body1 p
{
	
}

.TableStyle-AdmonCode-BodyB-Icon-Body1
{
	background-color: #757575;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-AdmonCode-BodyB-Icon-Body1 p
{
	
}

.TableStyle-AdmonCode-BodyA-Icon-Body1
{
	background-color: #757575;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-AdmonCode-BodyA-Icon-Body1 p
{
	
}

.TableStyle-AdmonCode-BodyG-Icon-Body1
{
	background-color: #757575;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-AdmonCode-BodyG-Icon-Body1 p
{
	
}

.TableStyle-AdmonCode-BodyI-Text-Body1
{
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
	background-color: #757575;
}

.TableStyle-AdmonCode-BodyI-Text-Body1 p
{
	
}

.TableStyle-AdmonCode-BodyE-Text-Body1
{
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
	background-color: #757575;
}

.TableStyle-AdmonCode-BodyE-Text-Body1 p
{
	
}

.TableStyle-AdmonCode-BodyF-Text-Body1
{
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
	background-color: #757575;
}

.TableStyle-AdmonCode-BodyF-Text-Body1 p
{
	
}

.TableStyle-AdmonCode-BodyH-Text-Body1
{
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
	background-color: #757575;
}

.TableStyle-AdmonCode-BodyH-Text-Body1 p
{
	
}

.TableStyle-AdmonCode-BodyD-Text-Body1
{
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
	background-color: #757575;
}

.TableStyle-AdmonCode-BodyD-Text-Body1 p
{
	
}

.TableStyle-AdmonCode-BodyC-Text-Body1
{
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
	background-color: #757575;
}

.TableStyle-AdmonCode-BodyC-Text-Body1 p
{
	
}

.TableStyle-AdmonCode-BodyB-Text-Body1
{
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
	background-color: #757575;
}

.TableStyle-AdmonCode-BodyB-Text-Body1 p
{
	
}

.TableStyle-AdmonCode-BodyA-Text-Body1
{
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
	background-color: #757575;
}

.TableStyle-AdmonCode-BodyA-Text-Body1 p
{
	
}

.TableStyle-AdmonCode-BodyG-Text-Body1
{
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
	background-color: #757575;
}

.TableStyle-AdmonCode-BodyG-Text-Body1 p
{
	
}


