/**** Workflow tiles styling Dec 2020 ****/

/* For main stylesheet */

.workflow-row div {
  width: 165px;
  height: 179px;
  border-radius: 2px;
  border: solid 1px #d7d7d7;
  background-color: #ffffff;
  margin: 20px 23px;
  text-align: center;
  position: relative;
  padding: 36px 4px 30px 4px;
}

div.workflow-selected {
	background: lightblue;
}

/* For own stylesheet */

.workflow-row {
  margin-left: 0;
  border-top: solid 2px #639dd3;
  margin-top: 30px;
  border-bottom: solid 2px #639dd3;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

div.workflow-row div {
  display: inline-block;
  margin: 20px 23px 20px 0px;
}

.workflow-row div:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.46);
  cursor: pointer;
}

.workflow-row div.workflow-selected {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.17);
  background-color: #ffffff!important;
}

.workflow-row div.workflow-selected:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.46);
}

.workflow-row div:after {
  background-color: transparent;
  content:" ";
  display: block;
  height: 10px;
  left: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.workflow-row div:hover:after {
  background-color: #cfe8ff;
}

.workflow-row div.workflow-selected:after {
  background-color: #639dd3;
}

.workflow-row img {
  padding: 0;
  position: absolute;
  margin: auto;
  top: 36px;
  right: 0;
  left: 0;
  border: none;
}

.workflow-row p {
  color: #333333;
  font-family: 'Open Sans Semibold';
  line-height: normal;
  letter-spacing: normal;
  font-size: 14px;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 45px;
  right: 0;
  left: 0;
}

.workflow-row div.workflow-selected p, .workflow-row div.workflow-selected a {
  color:#4d8fcc;
}

.workflow-row div a, .workflow-row div a:link, .workflow-row div a:visited {
  bottom: 0;
  color: #333333;
  font-family: 'Open Sans Semibold';
  line-height: normal;
  letter-spacing: normal;
  font-size: 14px;
  width: 100%;
  left: 0;
  position: absolute;
  margin: 0;
  top: 0;
  height: 100%;
  padding: 0;
  text-decoration: none;
}

.workflow-row div a:after {
  display: none;
}