/* MadCap Table Style: */

/*<meta Version="9" />*/

@media non-print
{
	mcTableStyle
	{
		margin-top: 24px;
		margin-bottom: 8px;
	}

	mcTableColumnStyle
	{
		
	}

	mcTableHeadStyle
	{
		
	}

	mcTableBodyStyle
	{
		
	}

	mcTableFootStyle
	{
		
	}
}

@media print
{
	mcTableStyle
	{
		margin-top: 18pt;
		margin-bottom: 24pt;
	}

	mcTableColumnStyle
	{
		
	}

	mcTableHeadStyle
	{
		
	}

	mcTableBodyStyle
	{
		
	}

	mcTableFootStyle
	{
		
	}
}

mcTableStyle
{
	name: NoBorders;
	border-collapse: collapse;
	border-left-style: none;
	border-left-width: 0px;
	border-right-style: none;
	border-right-width: 0px;
	border-top-style: none;
	border-top-width: 0px;
	border-bottom-style: none;
	border-bottom-width: 0px;
	max-id: 3;
	cell-padding-left: 0.19cm;
	cell-padding-right: 0.19cm;
	cell-padding-top: 3pt;
	cell-padding-bottom: 3pt;
	margin-top: 6px;
	margin-bottom: 12px;
}

mcTableColumnStyle
{
	span: 1;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: none;
	separator-width: 0px;
	name: Header1;
	id: 2;
	text-align: left;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: none;
	separator-width: 0px;
	name: Body1;
	id: 1;
}

mcTableFootStyle
{
	span: 1;
	separator-style: none;
	separator-width: 0px;
	name: Footer1;
	id: 3;
}


/* Cell Styles: */
 
@media non-print
{
	.TableStyle-NoBorders
	{
		margin-top: 24px;
		margin-bottom: 8px;
		border-spacing: 0px 0px;
	}
}

@media print
{
	.TableStyle-NoBorders
	{
		margin-top: 18pt;
		margin-bottom: 24pt;
		border-spacing: 0px 0px;
	}
}

.TableStyle-NoBorders
{
	border-collapse: collapse;
	border-left-style: none;
	border-left-width: 0px;
	border-right-style: none;
	border-right-width: 0px;
	border-top-style: none;
	border-top-width: 0px;
	border-bottom-style: none;
	border-bottom-width: 0px;
	margin-top: 6px;
	margin-bottom: 12px;
	border-spacing: 0px 0px;
}

.TableStyle-NoBorders-Column-Column1
{
	
}

.TableStyle-NoBorders-Head-Header1
{
	
}

.TableStyle-NoBorders-HeadI-Column1-Header1
{
	padding-left: 0.19cm;
	padding-right: 0.19cm;
	padding-top: 3pt;
	padding-bottom: 3pt;
	text-align: left;
}

.TableStyle-NoBorders-HeadI-Column1-Header1 p
{
	
}

.TableStyle-NoBorders-HeadE-Column1-Header1
{
	padding-left: 0.19cm;
	padding-right: 0.19cm;
	padding-top: 3pt;
	padding-bottom: 3pt;
	text-align: left;
	border-bottom-width: 0px;
	border-bottom-style: none;
}

.TableStyle-NoBorders-HeadE-Column1-Header1 p
{
	
}

.TableStyle-NoBorders-HeadF-Column1-Header1
{
	padding-left: 0.19cm;
	padding-right: 0.19cm;
	padding-top: 3pt;
	padding-bottom: 3pt;
	text-align: left;
	border-bottom-width: 0px;
	border-bottom-style: none;
}

.TableStyle-NoBorders-HeadF-Column1-Header1 p
{
	
}

.TableStyle-NoBorders-HeadH-Column1-Header1
{
	padding-left: 0.19cm;
	padding-right: 0.19cm;
	padding-top: 3pt;
	padding-bottom: 3pt;
	text-align: left;
}

.TableStyle-NoBorders-HeadH-Column1-Header1 p
{
	
}

.TableStyle-NoBorders-HeadD-Column1-Header1
{
	padding-left: 0.19cm;
	padding-right: 0.19cm;
	padding-top: 3pt;
	padding-bottom: 3pt;
	text-align: left;
	border-bottom-width: 0px;
	border-bottom-style: none;
}

.TableStyle-NoBorders-HeadD-Column1-Header1 p
{
	
}

.TableStyle-NoBorders-HeadC-Column1-Header1
{
	padding-left: 0.19cm;
	padding-right: 0.19cm;
	padding-top: 3pt;
	padding-bottom: 3pt;
	text-align: left;
}

.TableStyle-NoBorders-HeadC-Column1-Header1 p
{
	
}

.TableStyle-NoBorders-HeadB-Column1-Header1
{
	padding-left: 0.19cm;
	padding-right: 0.19cm;
	padding-top: 3pt;
	padding-bottom: 3pt;
	text-align: left;
}

.TableStyle-NoBorders-HeadB-Column1-Header1 p
{
	
}

.TableStyle-NoBorders-HeadA-Column1-Header1
{
	padding-left: 0.19cm;
	padding-right: 0.19cm;
	padding-top: 3pt;
	padding-bottom: 3pt;
	text-align: left;
}

.TableStyle-NoBorders-HeadA-Column1-Header1 p
{
	
}

.TableStyle-NoBorders-HeadG-Column1-Header1
{
	padding-left: 0.19cm;
	padding-right: 0.19cm;
	padding-top: 3pt;
	padding-bottom: 3pt;
	text-align: left;
}

.TableStyle-NoBorders-HeadG-Column1-Header1 p
{
	
}

.TableStyle-NoBorders-Foot-Footer1
{
	
}

.TableStyle-NoBorders-FootI-Column1-Footer1
{
	padding-left: 0.19cm;
	padding-right: 0.19cm;
	padding-top: 3pt;
	padding-bottom: 3pt;
}

.TableStyle-NoBorders-FootI-Column1-Footer1 p
{
	
}

.TableStyle-NoBorders-FootE-Column1-Footer1
{
	padding-left: 0.19cm;
	padding-right: 0.19cm;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-top-width: 0px;
	border-top-style: none;
}

.TableStyle-NoBorders-FootE-Column1-Footer1 p
{
	
}

.TableStyle-NoBorders-FootF-Column1-Footer1
{
	padding-left: 0.19cm;
	padding-right: 0.19cm;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-top-width: 0px;
	border-top-style: none;
}

.TableStyle-NoBorders-FootF-Column1-Footer1 p
{
	
}

.TableStyle-NoBorders-FootH-Column1-Footer1
{
	padding-left: 0.19cm;
	padding-right: 0.19cm;
	padding-top: 3pt;
	padding-bottom: 3pt;
}

.TableStyle-NoBorders-FootH-Column1-Footer1 p
{
	
}

.TableStyle-NoBorders-FootD-Column1-Footer1
{
	padding-left: 0.19cm;
	padding-right: 0.19cm;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-top-width: 0px;
	border-top-style: none;
}

.TableStyle-NoBorders-FootD-Column1-Footer1 p
{
	
}

.TableStyle-NoBorders-FootC-Column1-Footer1
{
	padding-left: 0.19cm;
	padding-right: 0.19cm;
	padding-top: 3pt;
	padding-bottom: 3pt;
}

.TableStyle-NoBorders-FootC-Column1-Footer1 p
{
	
}

.TableStyle-NoBorders-FootB-Column1-Footer1
{
	padding-left: 0.19cm;
	padding-right: 0.19cm;
	padding-top: 3pt;
	padding-bottom: 3pt;
}

.TableStyle-NoBorders-FootB-Column1-Footer1 p
{
	
}

.TableStyle-NoBorders-FootA-Column1-Footer1
{
	padding-left: 0.19cm;
	padding-right: 0.19cm;
	padding-top: 3pt;
	padding-bottom: 3pt;
}

.TableStyle-NoBorders-FootA-Column1-Footer1 p
{
	
}

.TableStyle-NoBorders-FootG-Column1-Footer1
{
	padding-left: 0.19cm;
	padding-right: 0.19cm;
	padding-top: 3pt;
	padding-bottom: 3pt;
}

.TableStyle-NoBorders-FootG-Column1-Footer1 p
{
	
}

.TableStyle-NoBorders-Body-Body1
{
	
}

.TableStyle-NoBorders-BodyI-Column1-Body1
{
	padding-left: 0.19cm;
	padding-right: 0.19cm;
	padding-top: 3pt;
	padding-bottom: 3pt;
}

.TableStyle-NoBorders-BodyI-Column1-Body1 p
{
	
}

.TableStyle-NoBorders-BodyE-Column1-Body1
{
	padding-left: 0.19cm;
	padding-right: 0.19cm;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-bottom-width: 0px;
	border-bottom-style: none;
}

.TableStyle-NoBorders-BodyE-Column1-Body1 p
{
	
}

.TableStyle-NoBorders-BodyF-Column1-Body1
{
	padding-left: 0.19cm;
	padding-right: 0.19cm;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-bottom-width: 0px;
	border-bottom-style: none;
}

.TableStyle-NoBorders-BodyF-Column1-Body1 p
{
	
}

.TableStyle-NoBorders-BodyH-Column1-Body1
{
	padding-left: 0.19cm;
	padding-right: 0.19cm;
	padding-top: 3pt;
	padding-bottom: 3pt;
}

.TableStyle-NoBorders-BodyH-Column1-Body1 p
{
	
}

.TableStyle-NoBorders-BodyD-Column1-Body1
{
	padding-left: 0.19cm;
	padding-right: 0.19cm;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-bottom-width: 0px;
	border-bottom-style: none;
}

.TableStyle-NoBorders-BodyD-Column1-Body1 p
{
	
}

.TableStyle-NoBorders-BodyC-Column1-Body1
{
	padding-left: 0.19cm;
	padding-right: 0.19cm;
	padding-top: 3pt;
	padding-bottom: 3pt;
}

.TableStyle-NoBorders-BodyC-Column1-Body1 p
{
	
}

.TableStyle-NoBorders-BodyB-Column1-Body1
{
	padding-left: 0.19cm;
	padding-right: 0.19cm;
	padding-top: 3pt;
	padding-bottom: 3pt;
}

.TableStyle-NoBorders-BodyB-Column1-Body1 p
{
	
}

.TableStyle-NoBorders-BodyA-Column1-Body1
{
	padding-left: 0.19cm;
	padding-right: 0.19cm;
	padding-top: 3pt;
	padding-bottom: 3pt;
}

.TableStyle-NoBorders-BodyA-Column1-Body1 p
{
	
}

.TableStyle-NoBorders-BodyG-Column1-Body1
{
	padding-left: 0.19cm;
	padding-right: 0.19cm;
	padding-top: 3pt;
	padding-bottom: 3pt;
}

.TableStyle-NoBorders-BodyG-Column1-Body1 p
{
	
}


